{% extends 'MyBlog/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'common/css/iconfont.css' %}">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=67jMQ5DmYTe1TLMBKFUTcZAR"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'common/js/jquery.baidu.min.js' %}"></script>
{% endblock %}
{% block title%}
    <title>关于我</title>
{% endblock %}
{% block fluid %}
    <div class="about Tophead">
        <div class="img"><img src="{% static 'common/imgs/userhead.png' %}"></div>
        <div class="con"><h3>每个人的成长都经历了无限的艰辛和挫折，唯有坚持到最后才能获得永久幸福</h3></div>
    </div>
{% endblock %}
{% block container %}
    <div class="layui-col-md9">
        <div class="layui-card ">
            <div class="layui-card-body about-cont">
                <h2 class="title">It's Me</h2>
                <ul>
                    <li class="self font detail-item">
                        <i class="layui-icon layui-icon-friends"></i>
                        <p>89年生于四川西充市义兴镇，5岁随父母去了新疆，在那里生活、学习指直到大学，后来不甘心留在新疆，于是出疆去了古都西安、江南水乡城杭州、IT行业发达的深圳，
                            寻找自己的未来，但是一次次挫败，让我失去了信心，后来因为朋友关系有幸去了青岛。在那里遇到了很多好的同事，一待就是3年，最后又跑去了济南待了9个月，最终
                            定居在美丽的天府之都成都。现在在成都一家IT公司做数据分析师。本来就喜欢做网站，于是学习了layui，觉得很牛逼，于是做了自己的博客，与大家一起分析IT技术。</p>
                    </li>
                    <li class="hobby font detail-item">
                        <i class="iconfont icon-xihuan"></i>
                        <p>撸码、看书、旅游、骑车、音乐、吃鸡(O(∩_∩)O哈哈~)</p>
                    </li>
                    <li class="tool font detail-item">
                        <i class="iconfont icon-gongjuxiang"></i>
                        <p>Python、SqlServer、.Net、C#</p>
                    </li>
                    <li class="noteabout font detail-item">
                        <i class="layui-icon layui-icon-note"></i>
                        <p>半宅男、执着症患者、小气鬼、闷骚男</p>
                    </li>
                    <li class="myposition font detail-item">
                        <i class="iconfont icon-location3bdingwei3"></i>
                        <p>成都天府新区</p>
                    </li>
                    <li class="company font detail-item">
                        <i class="iconfont icon-jiudian"></i>
                        <p>数据分析公司</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="card github-follow">
            <div class="card-body">
                <div class="status">
                    <div class="follow">
                        <span class="count">161</span>
                        <div class="label">Follower</div>
                    </div>
                    <span class="divider"></span>
                    <div class="following">
                        <span class="count">141</span>
                        <div class="label">Following</div>
                    </div>
                </div>
            </div>
            <div class="follow-btn">
                <a href="https://github.com/huahuayufeng">Follow Me</a>
            </div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="contact card">
            <div class="card-body">
                <h2 class="title">Contacts</h2>
                <ul>
                    <li class="qq"> <a href="mailto:heming_wei@126.com"><i class="layui-icon layui-icon-login-qq"></i></a></li>
                    <li class="wechat"> <i class="layui-icon layui-icon-login-wechat"></i></li>
                    <li class="weibo"> <a href="https://weibo.com/mingtianya"><i class="layui-icon layui-icon-login-weibo"></i></a></li>
                    <li class="github"><a href="https://github.com/huahuayufeng"><i class="iconfont icon-github"></i></a></li>
                    <li class="email"><a href="mailto:heming_wei@126.com"><i class="iconfont icon-email"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="position card card-no-padding">
            <div class="card-body">
                <h2 class="title">I'm Here</h2>
                <iframe style="display: block;" id="geoPage" width="100%" height="30%" frameborder=0 scrolling="no" src="https://apis.map.qq.com/tools/geolocation?key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp&effect=zoom">
                </iframe>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function ShowMap(zuobiao, name, addrsee, phone, chuanzhen, zoom) {
            var arrzuobiao = zuobiao.split(',');
            var map = new BMap.Map("allmap");
            map.addControl(new BMap.OverviewMapControl());
            map.centerAndZoom(new BMap.Point(arrzuobiao[0], arrzuobiao[1]), zoom);
            map.addControl(new BMap.NavigationControl());
            var marker = new BMap.Marker(new BMap.Point(arrzuobiao[0], arrzuobiao[1]));
            map.addOverlay(marker);
            var infoWindow = new BMap.InfoWindow('<p style="color: #bf0008;font-size:14px;">' + name + '</p><p>地址：' + addrsee + '</p><p>电话：' + phone + '</p><p>传真：' + chuanzhen + '</p>');
            marker.addEventListener("click", function () {
                this.openInfoWindow(infoWindow);
            });
            marker.openInfoWindow(infoWindow);
        }


        var loc;
        var isMapInit = false;
        //监听定位组件的message事件
        window.addEventListener('message', function(event) {
            loc = event.data; // 接收位置信息
            console.log('location', loc);
            if(loc  && loc.module == 'geolocation') { //定位成功,防止其他应用也会向该页面post信息，需判断module是否为'geolocation'
                var markUrl = 'https://apis.map.qq.com/tools/poimarker' +
                    '?marker=coord:' + loc.lat + ',' + loc.lng +
                    ';title:我的位置;addr:' + (loc.addr || loc.city) +
                    '&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp';
                //给位置展示组件赋值
                // document.getElementById('markPage').src = markUrl;
                var lng = loc.lng//经度
                var lat = loc.lat //维度
                console.log(lng)
                ShowMap(''+lng+','+lat+'', 'dome', loc.city,'1388888888', '010-88888888', '20');
            }else {
                console.log('定位失败');
            }
        }, false);
    </script>
{% endblock %}