{% extends 'MyBlog/base.html' %}
{% load static %}
{% block title%}
    <title>花花与风-归档</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'common/css/iconfont.css' %}">
{% endblock %}
{% block nav %}
<div class="nav" id="nav">
 <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <div class="item">
        <a class="navpic" href="../"><img src="{% static 'common/imgs/logo.png' %}"></a>
        <ul class="nav-horizontal">
            <li class="nav-item"><a href="../blog">博客</a></li>
{#            <li class="layui-nav-item"><a href="../picture">相册</a></li>#}
            <li class="nav-item"><a href="../weblink">友情链接</a></li>
            <li class="nav-item layui-this"><a href="../archive">归档</a></li>
            <li class="nav-item"><a href="../message">留言</a></li>
            <li class="nav-item "><a href="../about">关于</a></li>
        </ul>
        <ul class="nav-tree">
            <li class="nav-item"><a href="../blog">博客</a></li>
{#            <li class="layui-nav-item"><a href="../picture">相册</a></li>#}
            <li class="nav-item"><a href="../weblink">友情链接</a></li>
            <li class="nav-item  layui-this"><a href="../archive">归档</a></li>
            <li class="nav-item"><a href="../message">留言</a></li>
            <li class="nav-item"><a href="../about">关于</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block fluid %}
    <div class="layui-col-sm12 HeadBack">
    <h2>每天的点点滴滴将生活汇聚成一条回忆的长河</h2>
    </div>
{% endblock %}
{% block container %}
    <div class="layui-col-md85">
        <div class="layui-card">
            <div class="layui-card-header">博客归档</div>
            <div class="timeboxpadding">
                <div class="timebox">
                    <ul class="event_year">
                        <li><label for="2023">2023</label></li>
                        <li><label for="2022">2022</label></li>
                        <li><label for="2021">2021</label></li>
                        <li><label for="2020">2020</label></li>
                        <li><label for="2019">2019</label></li>
                        <li class="current"><label for="2018">2018</label></li>
                        <li><label for="2017">2017</label></li>
                    </ul>
                    <ul class="event_list">
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md35" >
        <div class="layui-col-space15">
            <div class="layui-col-md12 ">
                <div class="layui-card webinfo">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-app"></i>
                        <span>文章分类</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Categorys %}
                                {% for category in Categorys %}
                                    <a href="{% url 'MyBlog:category' category.id %}" title="{{ category.Name }}" id="link{{ category.id }}"><li>{%if category.Name|length >= 25 %}{{category.Name|slice:"25"}}...{%else%} {{category.Name}}{%endif%}</li></a>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card ranker">
                    <div class="layui-card-header">
                        <i class="iconfont icon-wenzhang"></i>
                        <span>点击排行</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Rankers %}
                                {% for ranker in Rankers %}
                                    <li><a href="{% url 'MyBlog:details' ranker.id %}" title="{{ ranker.title }}">{%if ranker.title|length >= 25 %}
                                        {{ranker.title|slice:"25"}}...
                                    {%else%} {{ranker.title}}
                                    {%endif%}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-note"></i>
                        <span>标签云</span>
                    </div>
                    <div class="layui-card-body note">
                        {% if Tags %}
                            {% for tag in Tags %}
                                <a  href="{% url 'MyBlog:types' tag.id %}">{{ tag.TypeName }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script>
        $(function(){
            initData();
        });
        //加载初始化数据
        function initData(){
            $.ajax({
                type:'GET',
                dataType: "json",
                url:"../../loadarchivedata/",
                success:function(result){
                    {#alert("加载数据");#}
                    if(result.code=="0"){

                        var info = result.data;
                        console.log(info);
                        for(var i in info)
                        {
                            var details=""
                            var item=info[i].detail
                            for(var j in item){
                                details+=" <li><span>"+item[j].monthday+"</span><p><span><a href=\"../../details/"+item[j].id+"\">"+item[j].title+"</a></span></p></li>"
                            }
                            var str=""
                            str+="<div><h3 id=\""+info[i].year+"\">"+info[i].year+"</h3>"+details+"</div>"
                            console.log(str);
                            $(".event_list").append(str)
                        }
                    }else{
                        alert("数据错误！请联系管理员");
                    }
                },
                error:function(){
                    alert("发生错误");
                }
            });
        }
    </script>
    <script>
        $(function(){
            $('label').click(function(){
                $('.event_year>li').removeClass('current');
                $(this).parent('li').addClass('current');
                var year = $(this).attr('for');
                $('#'+year).parent().prevAll('div').slideUp(800);
                $('#'+year).parent().slideDown(800).nextAll('div').slideDown(800);
            });
        });
    </script>
{% endblock %}