<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title%}
        <title>花花与风的博客</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
{% block nav %}
{% endblock %}
{% block fluid %}
{% endblock %}
<div class="layui-container Tophead">
    <div class="layui-row content-sapce-15 ">
        {% block container %}
        {% endblock %}
    </div>
</div>
<div class="footer">
    <div class="layui-container">
        <div class="layui-col-md12">
            <div class="layui-col-md9 footer-desc">
                <p>花花与风</p>
                <p>花花与风愿为你分享生活中的点点滴滴，最新前沿技术，包括数据分析，深度学习，python等方方面面的东西，时而也会更新一些个人生活小事。</p>
            </div>
            <div class="layui-col-md3 footer-link">
                相关链接
                <ul>
                    <li><a href="../">主页</a></li>
                    <li><a href="../blog/">博文</a></li>
                    <li><a href="../message/">留言</a></li>
                    <li><a href="../about/">关于</a></li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md12 footer-hr">
            <div class="layui-col-md12">
                <p>design & code by @花花与风,base on layui + django</p>
                <p>感谢layui提供的完美框架，腾讯云提供的优质云服务，以及各位大佬们的设计精髓。</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
    layui.config({
        base: '{% static '/' %}'
    }).extend({
        index: 'lib/index'
    }).use(['util','element','index'], function(){
        var util = layui.util
        util.fixbar({
            css: {right: 50, bottom: 100}
            ,bgcolor: '#393D49'
        });
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>