{% extends 'MyBlog/base.html' %}
{% load static %}
{% block title%}
    <title>花花与风的博文</title>
{% endblock %}
{% block container %}
    <div class="layui-col-md9 Tophead">
        <div class="content">
            {% if Blogs %}
                {% for blog in Blogs %}
                    <div class="item">
                        <div class="title"><a href="{% url 'MyBlog:details' id=blog.id %}" title="{{ blog.title }}">{{ blog.title }}</a></div>
                        <div class="img"><img src="{{ blog.imgTitle }}" alt="{{ blog.title }}"></div>
                        <div class="abstract"><a href="{% url 'MyBlog:details' id=blog.id %}" title="{{ blog.title }}">{{ blog.abstract }}</a></div>
                        <div class="author">
                                <span class="f_l lm">
                                {% if blog.blogtyperelation_set.all  %}
                                    {% for BlogTypeRelation in blog.blogtyperelation_set.all %}
                                        <a href="{% url 'MyBlog:types' BlogTypeRelation.BlogType.TypeName %}">{{ BlogTypeRelation.BlogType.TypeName }}</a>
                                    {% endfor %}
                                {% endif %}
                                </span>
                            <span class="dtime f_l">{{ blog.createdate|date:"Y-m-d H:i:s" }}</span>
                            <span class="viewnum f_r t_right">{{ blog.hit }}</span>
                            <span class="pingl f_r">{{ blog.comment_set.count }}</span>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="layui-col-md3 Tophead" >
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12 ">
                <div class="layui-card">
                    <div class="layui-card-header">网站信息</div>
                    <div class="layui-card-body">
                        <ul>
                            <li>网站名称：花花与风的博客</li>
                            <li>博客系统：</li>
                            <li>QQ：</li>
                            <li>前端UI:<a href="https://www.layui.com/" target="_blank">layui 3.4.1</a></li>
                            <li>后端框架:django:2.0.1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">点击排行</div>
                    <div class="layui-card-body">
                        <ul class="ranker">
                            {% if Rankers %}
                                {% for ranker in Rankers %}
                                    <li><a href="{% url 'MyBlog:details' ranker.id %}" title="{{ ranker.title }}">{%if ranker.title|length >= 16 %}
                                        {{ranker.title|slice:"16"}}...
                                    {%else%} {{ranker.title}}
                                    {%endif%}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">标签页</div>
                    <div class="layui-card-body">
                        {% if Tags %}
                            {% for tag in Tags %}
                                <span class="layui-badge layui-bg-gray"> <a  href="{% url 'MyBlog:types' tag.TypeName %}">{{ tag.TypeName }}</a></span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    {#    <script>#}
    {#        $("[id^=blog]").mouseover(function(){#}
    {#            id=$(this).attr('id').split("blog")[1]#}
    {#            splitlineid='splitline'+id#}
    {#            $('#'+splitlineid).css('border-bottom-color','#1E9FFF');#}
    {#            $('#'+splitlineid).css('border-bottom-width','2px');#}
    {#        });#}
    {#        $("[id^=blog]").mouseout(function(){#}
    {#            id=$(this).attr('id').split("blog")[1]#}
    {#            splitlineid='splitline'+id#}
    {#            $('#'+splitlineid).css('border-bottom-color','#f2f2f2');#}
    {#            $('#'+splitlineid).css('border-bottom-width','2px');#}
    {#        });#}
    {#    </script>#}
{% endblock %}
