{% extends 'MyBlog/base.html' %}
{% load static %}
{% block title%}
    <title>花花与风的博文</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'common/css/iconfont.css' %}">
{% endblock %}
{% block container %}
    <div class="layui-col-md9 Tophead">
        <div class="content" id="flow">
            {% if Blogs %}
                {% for blog in Blogs %}
                    <div class="item">
                        <div class="header">
                            <div class="title"><a href="{% url 'MyBlog:details' id=blog.id %}" title="{{ blog.title }}">{{ blog.title }}</a></div>
                            <div class="category">{% if blog.blog_CategoryToBlog.all  %}
                                {% for Blog_CategoryToBlog in blog.blog_CategoryToBlog.all %}
                                    <a href="{% url 'MyBlog:category' Blog_CategoryToBlog.id %}">{{ Blog_CategoryToBlog.Name }}</a>
                                {% endfor %}
                            {% endif %}</div>
                        </div>
                        <div class="img"><img src="{{ blog.imgTitle }}" alt="{{ blog.title }}"></div>
                        <div class="abstract"><a href="{% url 'MyBlog:details' id=blog.id %}" title="{{ blog.title }}">{{ blog.abstract }}</a></div>
                        <div class="author">
                            <span class="f_l t_left top">{% if blog.isTop == 1 %}置顶{% else %}{% endif %}</span>
                            <span class="f_l lm">分类：
                                {% if blog.blog_blogtype.all  %}
                                    {% for Blog_blogtype in blog.blog_blogtype.all %}
                                        <a href="{% url 'MyBlog:types' Blog_blogtype.TypeName %}">{{ Blog_blogtype.TypeName }}</a>
                                    {% endfor %}
                                {% endif %}
                                </span>
                            <span class="dtime f_l">发布时间：{{ blog.createdate|date:"Y-m-d H:i:s" }}</span>
                            <span class="f_r t_right orign">{% if blog.isorg == 1 %}原创{% else %}转载{% endif %}</span>
                            <span class="viewnum f_r ">{{ blog.hit }}次阅读</span>
                            <span class="pingl f_r">{{ blog.comment_set.count }}条评论</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div id="nodata">
                    <div class="nodatatip">！暂无数据，请选择其他分类</div>
                </div>
            {% endif %}
        </div>
    <ul class="flow-default" id="flow"></ul>
    </div>
    <div class="layui-col-md3 Tophead" >
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12 ">
                <div class="layui-card webinfo">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-app"></i>
                        <span>文章分类</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Categorys %}
                                {% for category in Categorys %}
                                    <a href="{% url 'MyBlog:category' category.id %}" title="{{ category.Name }}"><li>{%if category.Name|length >= 25 %}{{category.Name|slice:"25"}}...{%else%} {{category.Name}}{%endif%}</li></a>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card ranker">
                    <div class="layui-card-header">
                        <i class="iconfont icon-wenzhang"></i>
                        <span>点击排行</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Rankers %}
                                {% for ranker in Rankers %}
                                    <li><a href="{% url 'MyBlog:details' ranker.id %}" title="{{ ranker.title }}">{%if ranker.title|length >= 25 %}
                                        {{ranker.title|slice:"25"}}...
                                    {%else%} {{ranker.title}}
                                    {%endif%}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-note"></i>
                        <span>标签云</span>
                    </div>
                    <div class="layui-card-body note">
                        {% if Tags %}
                            {% for tag in Tags %}
                                <a  href="{% url 'MyBlog:types' tag.TypeName %}">{{ tag.TypeName }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script>
        layui.use('flow', function(){
            var flow = layui.flow;
            flow.load({
                elem: '#flow' //指定列表容器
                ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页

                    //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                    setTimeout(function() {
                        var lis = [];
                        $.get('../loadblog?page=' + page + '&limit=2',
                            function(res) {
                                console.info(res);
                                //假设你的列表返回在data集合中
                                layui.each(res.data, function(index, item) {
                                    var str='<div><blockquote class="layui-elem-quote" style="margin-top: 10px;">'+item.articlename+"<font style='margin-left:30px;'>创建时间："+item.articletime+'</font></blockquote></div>';
                                    str+='<blockquote class="layui-elem-quote layui-quote-nm layui-text" style="font-size:16px;letter-spacing:2px;line-height:25px;">'+"Layui - 用心与你沟通(content)"+'</blockquote>';
                                    lis.push('<li>' + str + '</li>');
                                });
                                next(lis.join(''), page < res.count); //假设总页数为 6
                            });
                    }, 500);
                }
            });
        });
    </script>
{% endblock %}
