{% extends 'MyBlog/base.html' %}
{% load static %}
{% block title%}
    <title>花花与风-{{ Blog.title }}</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'common/css/share.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/paging.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/iconfont.css' %}">
    <script src="{% static 'ueditor/ueditor.parse.js' %}"></script>
    <script src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
{% endblock %}
{% block nav %}
    <div class="nav" id="nav">
        <div class="menu-btn">
            <div class="menu"></div>
        </div>
        <div class="item">
            <a class="navpic" href="../"><img src="{% static 'common/imgs/logo.png' %}"></a>
            <ul class="nav-horizontal">
                <li class="nav-item  layui-this"><a href="../blog">博客</a></li>
                {#            <li class="layui-nav-item"><a href="../picture">相册</a></li>#}
                <li class="nav-item"><a href="../weblink">友情链接</a></li>
                <li class="nav-item"><a href="../archive">归档</a></li>
                <li class="nav-item"><a href="../message">留言</a></li>
                <li class="nav-item"><a href="../about">关于</a></li>
            </ul>
            <ul class="nav-tree">
                <li class="nav-item  layui-this"><a href="../blog">博客</a></li>
                {#            <li class="layui-nav-item"><a href="../picture">相册</a></li>#}
                <li class="nav-item"><a href="../weblink">友情链接</a></li>
                <li class="nav-item"><a href="../archive">归档</a></li>
                <li class="nav-item"><a href="../message">留言</a></li>
                <li class="nav-item"><a href="../about">关于</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block container %}
    <div class="layui-col-md85">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="blog-content ">
                    <div class="blog-head">
                        <div class="blog-title">
                            <h3>{{ Blog.title }}</h3>
                        </div>
                        <div class="con-desc">
                            <a>创建日期：{{ Blog.createdate|date:"Y-m-d H:i:s" }}</a>
                            <a>发布者：{{ Blog.author }}</a>
                            <a>点击量：{{ Blog.hit }}</a>
                        </div>
                        <hr>
                    </div>
                    <div class="text-con" id="content">
                        {% autoescape off %}
                            {{ Blog.blogcontent }}
                        {% endautoescape %}
                    </div>
                    <div class="text-desc">
                        <div class="">
                            本文标题：{{ Blog.title }}
                        </div>
                        <div class="">
                            本文链接：<a id="urlinfo"></a>
                        </div>
                        <div class="">
                            本文标签：
                            {% if Blog.blog_blogtype  %}
                                {% for BlogType in Blog.blog_blogtype.all %}
                                    <span class="layui-badge-rim">
                           <a href="{% url 'MyBlog:types' BlogType.id %}">{{ BlogType.TypeName }}</a>
                       </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="">
                            <p>非特殊说明，本文版权归 花花与风博客 所有，转载请注明出处.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="comment-content">
                    <div class="font-border"><h2>更多</h2></div>
                </div>
                <div class="more">
                    <div class="lastpage">上一篇：{{ lastpage|safe}}</div>
                    <div class="nextpage">下一篇：{{ nextpage|safe}}</div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="comment-content">
                    <div class="font-border"><h2>分享一下</h2></div>
                </div>
                <div class="share">
                    <ul>
                        <div id="share-2"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="comment-content">
                    <div class="font-border"><h2>评论</h2></div>
                </div>
                <div id="reply" >
                    <div class="reply-con">
                        <form class="layui-form">
                            {% csrf_token %}
                            <div class="userinfo">
                                <div class="input-icon">
                                    <div class="input-inline">
                                        <input type="tel" id="username" lay-verify="" autocomplete="off" class="username" placeholder="昵称（必填）">
                                    </div>
                                </div>
                                <div class="input-icon">
                                    <div class="input-inline">
                                        <input type="text" id="email" lay-verify="" autocomplete="off" class="email" placeholder="邮箱（必填）">
                                    </div>
                                </div>
                                <div class="input-icon">
                                    <div class="input-inline">
                                        <input type="text" id="website" lay-verify="" autocomplete="off" class="website" placeholder="站点">
                                    </div>
                                </div></div>
                            <div class="text">
                                <textarea id="commentContent"  placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                            <div class="text">
                                <button class="layui-btn"  type="button" id="sb-btn">发表</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if Blog.comment_set.all %}
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="message-content" >
                        <div class="comment-content">
                            <div class="font-border"><h2 class="commentcount">{{ Blog.comment_set.count }}条评论</h2></div>
                        </div>
                        <div id="messagetext">

                        </div>
                    </div>
                    <div id="blogpagination"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="layui-col-md35" >
        <div class="content-sapce-15">
            <div class="layui-col-md12 ">
                <div class="layui-card webinfo">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-app"></i>
                        <span>文章分类</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Categorys %}
                                {% for category in Categorys %}
                                    <a href="{% url 'MyBlog:category' category.id %}" title="{{ category.Name }}"><li>{%if category.Name|length >= 25 %}{{category.Name|slice:"25"}}...{%else%} {{category.Name}}{%endif%}</li></a>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card ranker">
                    <div class="layui-card-header">
                        <i class="iconfont icon-wenzhang"></i>
                        <span>点击排行</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Rankers %}
                                {% for ranker in Rankers %}
                                    <li><a href="{% url 'MyBlog:details' ranker.id %}" title="{{ ranker.title }}">{%if ranker.title|length >= 25 %}
                                        {{ranker.title|slice:"25"}}...
                                    {%else%} {{ranker.title}}
                                    {%endif%}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-note"></i>
                        <span>标签云</span>
                    </div>
                    <div class="layui-card-body note">
                        {% if Tags %}
                            {% for tag in Tags %}
                                <a  href="{% url 'MyBlog:types' tag.id %}">{{ tag.TypeName }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        uParse('#content',{
            rootPath : '../../static/ueditor',

        })
    </script>
    <script src="{% static '/common/js/jquery.timeago.js' %}" ></script>
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/common/js/paging.js' %}"></script>
    <script src="{% static '/common/js/share.min.js' %}"></script>
    <script src="{% static 'lib/LoadComment.js' %}" data-id="{{ Blog.id }}"></script>
{% endblock %}
