{% extends 'MyBlog/base.html' %}
{% load static %}
{% block title%}
    <title>花花与风的博客-{{ Blog.title }}</title>
{% endblock %}
{% block container %}
    <div class="layui-col-md9">
        <div class="layui-card" style="float: left;">
            <div class="layui-card-body">
                <div class="blog-content ">
                    <div class="blog-head">
                        <div class="blog-title">
                            <h3>{{ Blog.title }}</h3>
                        </div>
                        <div class="con-desc">
                            <a>创建日期：{{ Blog.createdate|date:"Y-m-d H:i:s" }}</a>
                            <a>发布者：{{ Blog.author }}</a>
                        </div>
                    </div>
                    <div class="text-con">
                        {% autoescape off %}
                            {{ Blog.blogcontent }}
                        {% endautoescape %}
                    </div>
                    <div class="text-desc">
                        <div class="">
                            本文标题：{{ Blog.title }}
                        </div>
                        <div class="">
                            本文链接：<a id="urlinfo"></a>
                        </div>
                        <div class="">
                            本文标签：
                            {% if Blog.blog_blogtype  %}
                                {% for BlogType in Blog.blog_blogtype.all %}
                                    <span class="layui-badge-rim">
                           <a href="{% url 'MyBlog:types' BlogType.TypeName %}">{{ BlogType.TypeName }}</a>
                       </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="">
                            <p>非特殊说明，本文版权归 夏天的风博客 所有，转载请注明出处.</p>
                        </div>

                    </div>
                    <div class="comment-content">
                        <h2>分享一下</h2>
                    </div>
                    <div class="share">

                        <ul>
                            <li class="qq"> <a href="mailto:heming_wei@126.com"><i class="layui-icon layui-icon-login-qq"></i></a></li>
                            <li class="wechat"> <i class="layui-icon layui-icon-login-wechat"></i></li>
                            <li class="weibo"> <a href="https://weibo.com/mingtianya"><i class="layui-icon layui-icon-login-weibo"></i></a></li>
                        </ul>

                    </div>
                    <div class="comment-content">
                        <h2>评论</h2>
                    </div>
                    <div id="reply" >
                        <div class="reply-con">
                            <form class="layui-form">
                                {% csrf_token %}
                                <div class="userinfo layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline input-icon">
                                            <input type="tel" id="username" lay-verify="" autocomplete="off" class="layui-input username" placeholder="昵称（必填）">
                                        </div>
                                    </div>
                                    <div class="layui-inline">

                                        <div class="layui-input-inline input-icon">
                                            <input type="text" id="email" lay-verify="" autocomplete="off" class="layui-input email" placeholder="邮箱（必填）">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline input-icon">
                                            <input type="text" id="website" lay-verify="" autocomplete="off" class="layui-input website" placeholder="站点">
                                        </div>
                                    </div></div>
                                <div class="text">
                                    <textarea id="commentContent"  placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                                <div class="text">
                                    <button class="layui-btn"  type="button" id="sb-btn">发表</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if Blog.comment_set.all %}
                        <div class="message-content" >
                            <div class="comment-content">
                                <h2>{{ Blog.comment_set.count }}条评论</h2>
                            </div>
                            {% for comment in Blog.comment_set.all %}
                                <div class="media-body">
                                    <div class="media-left">
                                        <img src="../{{ comment.userpic }}">
                                    </div>
                                    <div class="pad-btm">
                                        <p class="fontColor"><a>{{ comment.username }}</a></p>
                                        <div class="min-font">
                                          <span class="layui-breadcrumb" lay-separator="-">
                                            <a class="layui-icon layui-icon-cellphone"></a>
                                            <a>{{ comment.device }}</a>
                                            <a class="time" datetime="{{ comment.createdate|date:"Y-m-d H:i:s" }}"></a>
                                          </span>
                                        </div>
                                        <p class="message-text">{{ comment.commentContent }}</p>
                                    </div>
                                    <div class="reply-text">
                                        {% if comment.reply_set.all %}
                                            <div class="reply-container">
                                                {% for reply in comment.reply_set.all %}
                                                    <div class="box-reply">
                                                        <div class="title">
                                                            <img src="{% static 'common/imgs/userhead.png' %}">
                                                            <p>{{ reply.user.username }}</p>
                                                        </div>
                                                        <div class="brower">四川.成都  Windows 10  Chrome|65</div>
                                                        <div class="replyContent"><p>{{ reply.replyContent }}</p></div>
                                                        <div class="other">
                                                            <div class="like">
                                                                <button class="layui-btn" id="replylike{{ reply.id }}"><i class="layui-icon">&#xe6c6;</i></button>
                                                                <span class="layui-btn"><p class="replylikecon{{ reply.id }}">{{ reply.likeNum }}</p></span>
                                                            </div>
                                                            <div lay-separator="-" class="reply-date">
                                                                <a class="replytime" datetime="{{ reply.createdate|date:"Y-m-d H:i:s" }}"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="reply-comment">
                                        <div class="like">
                                            <button class="layui-btn" id="like{{ comment.id }}"><i class="layui-icon">&#xe6c6;</i></button>
                                            <button class="layui-btn"><p class="likecon{{ comment.id }}">{{ comment.likeNum }}</p></button>
                                        </div>
                                        <div class="reply-btn">
                                            <button class="layui-btn"><i class="layui-icon">&#xe611;</i></button>
                                            <button class="layui-btn" id='replylabel{{ comment.id }}'>回复</button>
                                        </div>

                                    </div>
                                    <form  id="formyz">
                                        {% csrf_token %}
                                        <div class="reply-to-text" id="reply{{ comment.id }}" style="display: none">
                                            <div class="text">
                                                <textarea class="reply-box-textarea" id="replyContent{{ comment.id }}"></textarea>
                                            </div>
                                            <div class="replybtn"><button class="layui-btn" id="replybtn{{ comment.id }}" type="button" >回复</button></div>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md3" >
        <div class="content-sapce-15">
            <div class="layui-col-md12 ">
                <div class="layui-card webinfo">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-app"></i>
                        <span>文章分类</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Categorys %}
                                {% for category in Categorys %}
                                    <a href="{% url 'MyBlog:category' category.id %}" title="{{ category.Name }}"><li>{%if category.Name|length >= 25 %}{{category.Name|slice:"25"}}...{%else%} {{category.Name}}{%endif%}</li></a>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card ranker">
                    <div class="layui-card-header">
                        <i class="iconfont icon-wenzhang"></i>
                        <span>点击排行</span>
                    </div>
                    <div class="layui-card-body">
                        <ul>
                            {% if Rankers %}
                                {% for ranker in Rankers %}
                                    <li><a href="{% url 'MyBlog:details' ranker.id %}" title="{{ ranker.title }}">{%if ranker.title|length >= 25 %}
                                        {{ranker.title|slice:"25"}}...
                                    {%else%} {{ranker.title}}
                                    {%endif%}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-note"></i>
                        <span>标签云</span>
                    </div>
                    <div class="layui-card-body note">
                        {% if Tags %}
                            {% for tag in Tags %}
                                <a  href="{% url 'MyBlog:types' tag.TypeName %}">{{ tag.TypeName }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static '/common/js/jquery.timeago.js' %}" ></script>
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script>
        $("#urlinfo").html(window.location.href)
        $("#urlinfo").attr('href',window.location.href)
        console.log(window.location.href)
        var timeagoInstance = timeago();// 实例
        timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
        timeagoInstance.render(document.querySelectorAll('.replytime'),'zh_CN');

    </script>
    <script type="text/javascript">

        layui.use('layer', function(){
            var layer = layui.layer;
            var devide=''
            $("#sb-btn").click(function(){
                if($("#username").val()=="")
                {
                    layer.msg('你的昵称呢!',{time:0.5*1000})
                }
                else if($("#email").val()=="")
                {
                    layer.msg('邮箱必填!',{time:0.5*1000})
                }
                else if($("#commentContent").val()=="")
                {
                    layer.msg('评论不能为空!',{time:0.5*1000})
                }
                else
                {
                    $.ajax({
                        type:"POST",
                        data: {'username':$("#username").val(),'email':$("#email").val(),'blogid':{{Blog.id}},'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val(),'commentContent':$("#commentContent").val(),'replytype':"0",'device':devide},
                        url: "{% url 'MyBlog:commentdata' %}", //后台处理函数的url
                        cache: false,
                        async : false,
                        success: function(result){
                            console.log(result.message)
                            if(result.message="0")
                            {
                                console.log(result.message)
                                layer.msg('评论成功!',{time:0.5*1000})
                                location.reload()
                            }
                        },
                        error: function(){
                            {#$('#test1').html('传输格式有错误')#}
                            {#layer.confirm(result)#}
                            layer.msg('传输格式有误，请检查')
                        }
                    });
                }
            })
            var replysbid=''
            var replyContentid=''
            $("[id^=replybtn]").click(function(){
                var replyid='reply'+replysbid
                var replylabelid='replylabel'+replysbid
                if($("#"+replyContentid).val()=="")
                {
                    layer.msg('回复不能为空!',{time:0.5*1000})
                }
                else
                {
                    $.ajax({
                        type:"POST",
                        data: {'userid':"1",'commentid':replysbid,'blogid':{{Blog.id}},'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val(),'replyContent':$("#"+replyContentid).val()},
                        url: "{% url 'MyBlog:replydata' %}", //后台处理函数的url
                        cache: false,
                        async : false,
                        success: function(result){
                            if(result.message="0")
                            {
                                console.log(result.message)
                                layer.msg('回复成功',{time:0.5*1000})
                                location.reload()
                                console.log(replyid)
                                $('#'+replyid).css("display", "none")
                                $('#'+replylabelid).text("回复")
                            }
                        },
                        error: function(){
                            {#$('#test1').html('传输格式有错误')#}
                            {#layer.confirm(result)#}
                            layer.msg('传输格式有误，请检查')
                        }
                    });
                }
            })

            $("[id^=like]").click(function(){
                commentid=$(this).attr("id").split("like")[1]
                $.ajax({
                    type:"POST",
                    data: {'commentid':commentid,'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val()},
                    url: "{% url 'MyBlog:like' %}", //后台处理函数的url
                    cache: false,
                    async : false,
                    success: function(result){
                        console.log(result.message)
                        if(result.message="0")
                        {
                            console.log(result.message)
                            layer.msg('点赞成功',{time:0.5*1000})
                            var likecon='likecon'+commentid
                            $("."+likecon).html(result.like)
                            console.log(result.like,$("."+likecon).html())
                        }
                    },
                    error: function(){
                        layer.msg('传输格式有误，请检查')
                    }
                });
            })
            $("[id^=replylike]").click(function(){
                replyid=$(this).attr("id").split("replylike")[1]
                $.ajax({
                    type:"POST",
                    data: {'replyid':replyid,'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val()},
                    url: "{% url 'MyBlog:replylike' %}", //后台处理函数的url
                    cache: false,
                    async : false,
                    success: function(result){
                        console.log(result.message)
                        if(result.message="0")
                        {
                            console.log(result.message)
                            layer.msg('点赞成功',{time:0.5*1000})
                            var replylikecon='replylikecon'+commentid
                            $("."+replylikecon).html(result.replylike)
                            console.log(result.replylike,$("."+replylikecon).html())
                        }
                    },
                    error: function(){
                        layer.msg('传输格式有误，请检查')
                    }
                });
            })

            $('[id^=replylabel]').click(function ()
            {
                {#console.log($(this).css("display"))#}
                id=$(this).attr("id").split("replylabel")[1]
                {#console.log(id)#}
                var replyid='reply'+id
                var replylabelid='replylabel'+id
                replysbid=id
                replyContentid='replyContent'+id
                if($('#'+replyid).css("display")=='block')
                {
                    $('#'+replyid).css("display", "none")
                    $(this).text("回复")
                }
                else
                {
                    $("#formyz div[id^='reply']").not("#"+replyid).css("display", "none")
                    $("#reply-comment button[id^='replylabel']").not("#"+replylabelid).text("回复")
                    {#console.log($("#reply-comment button[id^='replylabel']"))#}
                    $('#'+replyid).css("display","block")
                    $(this).text("收起")
                }
            })
//平台、设备和操作系统
            var system = {
                win: false,
                mac: false,
                xll: false,
                ipad:false
            };
            //检测平台
            var p = navigator.platform;
            system.win = p.indexOf("Win") == 0;
            system.mac = p.indexOf("Mac") == 0;
            system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
            system.ipad = (navigator.userAgent.match(/iPad/i) != null)?true:false;
            //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
            if (system.win || system.mac || system.xll||system.ipad) {
                console.log('电脑端')
                devide='电脑端'
            } else if(system.mac)
            {
                console.log('MAC端')
                devide='mac端'
            }
            else if(system.xll)
            {
                console.log('OK')
                devide='x11或者Linux端'
            }
            else if(system.ipad)
            {
                console.log('ipad端')
                devide='ipad端'
            }
            else
            {
                console.log('手机端')
                devide='手机端'
            }
        });


    </script>
    <script >
        var browser = {
            versions : function() {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息
                    trident : u.indexOf('Trident') > -1, //IE内核
                    presto : u.indexOf('Presto') > -1, //opera内核
                    webKit : u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko : u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile : !!u.match(/AppleWebKit.*Mobile.*/)
                        || !!u.match(/AppleWebKit/), //是否为移动终端
                    ios : !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                    android : u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                    iPhone : u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1, //是否iPad
                    webApp : u.indexOf('Safari') == -1,//是否web应该程序，没有头部与底部
                    google:u.indexOf('Chrome')>-1
                };
            }(),
            language : (navigator.browserLanguage || navigator.language).toLowerCase()
        }
        console.log(browser.versions.mobile)
        console.log(browser.language)
        {#document.writeln("语言版本: "+browser.language);#}
        {#document.writeln(" 是否为移动终端: "+browser.versions.mobile);#}
    </script>
{% endblock %}