<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>欢迎来到花花与风的博客</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'QPlayer/css/player.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'QPlayer/js/jquery.marquee.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'QPlayer/js/playlist.js' %}"></script>



    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="nav layui-nav"  lay-filter="component-nav" id="nav">
{#     <div class="menu-btn">#}
{#      <div class="menu"></div>#}
{#    </div>#}
    <div class="item">
        <a href="../"><img src="{% static 'common/imgs/logo.png' %}"></a>
        <ul class="">
            <li class="layui-nav-item"><a href="../blog">博客</a></li>
            <li class="layui-nav-item"><a href="../picture">相册</a></li>
            <li class="layui-nav-item"><a href="../weblink">友情链接</a></li>
            <li class="layui-nav-item"><a href="../archive">归档</a></li>
            <li class="layui-nav-item"><a href="../message">留言</a></li>
            <li class="layui-nav-item"><a href="../about">关于</a></li>
        </ul>
    </div>
</div>
<div class="bannerfather">
    <div class="banner">
        <div class="title">
            <h3>花花<br />与风</h3>
        </div>
        <div class="amount"><a href="../blog/">进入博文</a></div>
    </div>
</div>
<div class="myself">
    <div class="title">
        <h2>不是一时兴起，是振作精神，扬帆起航，寻找知识的尽头</h2>
        <h6>关于我，关于博客</h6>
        <h6>花花与风</h6>
        <h6>没有正经研究过一门编程技能，但是各种学习也算是都有所涉猎，还是想在某些领域有所斩获</h6>
        <h6>想学习的冲动太多，IT技术日益更新，不学怕已经落后他人一大截</h6>
        <h6>敲代码的感觉虽好，也不要忘记好好生活</h6>
    </div>
    <div class="myclock">

    </div>
</div>
<div class="aboutinfofather">
    <div class="aboutinfo">

        <a class="github" href="https://github.com/huahuayufeng/MyBlogWeb" target="_blank">GitHub</a>
        <a class="about" href="../about/" target="_blank">关于</a>
    </div>
</div>
<div class="link">
    <h6>友情链接</h6>
    <div class="linkshow">
        <ul>
            <li><a href="http://www.birongsen.com" target="_blank">小木鱼博客</a></li>
            <li><a href="http://bh-lay.com/" target="_blank">剧中人</a></li>
            <li><a href="https://smohan.net/" target="_blank">水墨寒</a></li>
            <li><a href="https://www.yanshisan.cn/Blog/Index" target="_blank">燕十三·一个人的江湖</a></li>
            <li><a href="http://sharedblog.cn/" target="_blank">前端共享博客</a></li>
            <li><a href="https://www.yezismile.com/" target="_blank">叶子个人博客</a></li>
            <li><a href="https://www.k2zone.cn/" target="_blank">马瑞强的个人博客</a></li>
            <li><a href="https://www.welphen.com" target="_blank">WelphenEDM</a></li>
            <li><a href="http://www.52xingchen.cn" target="_blank">星尘阁</a></li>
            <li><a href="http://www.luoluolzb.cn/" target="_blank">洛洛の空间</a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="layui-container">
        <div class="layui-col-md12">
            <div class="layui-col-md9 footer-desc">
                <p>花花与风</p>
                <p>花花与风愿为你分享生活中的点点滴滴，最新前沿技术，包括数据分析，深度学习，python等方方面面的东西，时而也会更新一些个人生活小事。</p>
            </div>
            <div class="layui-col-md3 footer-link">
                相关链接
                <ul>
                    <li><a href="../">主页</a></li>
                    <li><a href="../blog/">博文</a></li>
                    <li><a href="../picture/">相册</a></li>
                    <li><a href="../about/">关于</a></li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md12 footer-hr">
            <div class="layui-col-md12">
                <p>design & code by @花花与风,base on layui + django</p>
                <p>感谢layui提供的完美框架，腾讯云提供的优质云服务，以及各位大佬们的设计精髓。</p>
            </div>
        </div>
    </div>
</div>
{#<div id="QPlayer">#}
{#    <div id="pContent">#}
{#        <div id="player">#}
{#            <span class="cover"></span>#}
{#            <div class="ctrl">#}
{#                <div class="musicTag marquee">#}
{#                    <strong>Title</strong>#}
{#                    <span> - </span>#}
{#                    <span class="artist">Artist</span>#}
{#                </div>#}
{#                <div class="progress">#}
{#                    <div class="timer left">0:00</div>#}
{#                    <div class="contr">#}
{#                        <div class="rewind icon"></div>#}
{#                        <div class="playback icon"></div>#}
{#                        <div class="fastforward icon"></div>#}
{#                    </div>#}
{#                    <div class="right">#}
{#                        <div class="liebiao icon"></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="ssBtn">#}
{#            <div class="adf"></div>#}
{#        </div>#}
{#    </div>#}
{#    <ol id="playlist"></ol>#}
{#</div>#}
</body>
</html>
<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
{#<script type="text/javascript" src="{% static 'menu.js' %}"></script>#}
<script type="text/javascript">
    layui.config({
        base: '{% static '/' %}'
    }).extend({
        index: 'lib/index'
    }).use(['util','element','menu','index'], function(){
        var $ = layui.$
        ,admin = layui.admin
            ,element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        element.render('nav');
        element.render('nav', 'component-nav');
        element.render('nav', 'component-nav-active');

        element.on('nav(component-nav-active)', function(elem){
            layer.msg(elem.text());
        });

    });
</script>
{#  <script type="application/javascript" src="{% static 'QPlayer/js/player.js' %}"></script>#}
<script>

    function bgChange(){
        var lis= $('.lib');
        for(var i=0; i<lis.length; i+=2)
            lis[i].style.background = 'rgba(246, 246, 246, 0.5)';
    }
    window.onload = bgChange;
</script>
