<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>欢迎来到花花与风的博客</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'compiled/flipclock.css' %}">
    <script type="application/javascript" src="{% static 'compiled/flipclock.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body style="background: url({% static 'common/imgs/background.jpg' %}) no-repeat;">
<div class="nav layui-nav">
    <div class="item">
        <a href="../"><img src="{% static 'common/imgs/logo.png' %}"></a>
        <ul class="">
            <li class="layui-nav-item"><a href="../blog">博客</a></li>
            <li class="layui-nav-item"><a href="../picture">相册</a></li>
            <li class="layui-nav-item"><a href="../weblink">友情链接</a></li>
            <li class="layui-nav-item"><a href="../archive">归档</a></li>
            <li class="layui-nav-item"><a href="../message">留言</a></li>
            <li class="layui-nav-item"><a href="../about">关于</a></li>
        </ul>
    </div>
</div>
<div class="banner">
        <div class="title">
            <h3>花花<br />与风</h3>
        </div>
        <div class="amount"><a href="../blog/">进入博文</a></div>
</div>
<div class="myself">
        <div class="title">
            <h2>不是一时兴起，是振作精神，扬帆起航，寻找知识的尽头</h2>
            <h6>关于我，关于博客</h6>
            <h6>花花与风</h6>
            <h6>没有正经研究过一门编程技能，但是各种学习也算是都有所涉猎，还是想在某些领域有所斩获</h6>
            <h6>想学习的冲动太多，IT技术日益更新，不学怕已经落后他人一大截</h6>
            <h6>敲代码的感觉虽好，也不要忘记好好生活</h6>
        </div>
        <div class="your-clock title"></div>
</div>
<div class="aboutinfo">
    <a class="github" href="https://github.com/huahuayufeng/MyBlogWeb" target="_blank">GitHub源码地址</a>
    <a class="about" href="../about/" target="_blank">关于花花与风</a>
</div>
<div class="link">
    <h6>友情链接</h6>
    <div class="linkshow">
        <ul>
            <li><a href="http://www.birongsen.com" target="_blank">小木鱼博客</a></li>
            <li><a href="http://bh-lay.com/" target="_blank">剧中人</a></li>
            <li><a href="https://smohan.net/" target="_blank">水墨寒</a></li>
            <li><a href="https://www.yanshisan.cn/Blog/Index" target="_blank">燕十三·一个人的江湖</a></li>
            <li><a href="http://sharedblog.cn/" target="_blank">前端共享博客</a></li>
            <li><a href="https://www.yezismile.com/" target="_blank">叶子个人博客</a></li>
            <li><a href="https://www.k2zone.cn/" target="_blank">马瑞强的个人博客</a></li>
            <li><a href="https://www.welphen.com" target="_blank">WelphenEDM</a></li>
            <li><a href="http://www.52xingchen.cn" target="_blank">星尘阁</a></li>
            <li><a href="http://www.luoluolzb.cn/" target="_blank">洛洛の空间</a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="layui-container">
        <div class="layui-col-md12">
            <div class="layui-col-md9 footer-desc">
                <p>花花与风</p>
                <p>花花与风愿为你分享生活中的点点滴滴，最新前沿技术，包括数据分析，深度学习，python等方方面面的东西，时而也会更新一些个人生活小事。</p>
            </div>
            <div class="layui-col-md3 footer-link">
                相关链接
                <ul>
                    <li><a href="../">主页</a></li>
                    <li><a href="../blog/">博文</a></li>
                    <li><a href="../picture/">相册</a></li>
                    <li><a href="../about/">关于</a></li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md12 footer-hr">
            <div class="layui-col-md12">
                <p>design & code by @花花与风,base on layui + django</p>
                <p>感谢layui提供的完美框架，腾讯云提供的优质云服务，以及各位大佬们的设计精髓。</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
<script type="text/javascript">
    layui.config({
        base: '{% static '/layui/js/util/' %}'
    }).extend({
        index: 'lib/index'
    }).use(['util','element','menu'], function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        $ = layui.$,menu = layui.menu;
        menu.init();
    });

    var clock;
    $(document).ready(function() {
        // Grab the current date
        var currentDate = new Date();
        // Set some date in the past. In this case, it's always been since Jan 1
        var pastDate  = new Date(currentDate.getFullYear(), 0, 1);
        // Calculate the difference in seconds between the future and current date
        var diff = currentDate.getTime() / 1000 - pastDate.getTime() / 1000;
        // Instantiate a coutdown FlipClock
        clock = $('.your-clock').FlipClock(diff, {
            clockFace: 'DailyCounter'
        });
    });
</script>

