{% extends 'MyBlog/base.html' %}
{% block title%}
    {% load static %}
    <title>花花与风-友情链接</title>
{% endblock %}
{% block nav %}
<div class="nav" id="nav">
 <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <div class="item">
        <a class="navpic" href="../"><img src="{% static 'common/imgs/logo.png' %}"></a>
        <ul class="nav-horizontal">
            <li class="nav-item"><a href="../blog">博客</a></li>
{#            <li class="layui-nav-item"><a href="../picture">相册</a></li>#}
            <li class="nav-item  layui-this"><a href="../weblink">友情链接</a></li>
            <li class="nav-item"><a href="../archive">归档</a></li>
            <li class="nav-item"><a href="../message">留言</a></li>
            <li class="nav-item"><a href="../about">关于</a></li>
        </ul>
        <ul class="nav-tree">
            <li class="nav-item"><a href="../blog">博客</a></li>
{#            <li class="layui-nav-item"><a href="../picture">相册</a></li>#}
            <li class="nav-item  layui-this"><a href="../weblink">友情链接</a></li>
            <li class="nav-item"><a href="../archive">归档</a></li>
            <li class="nav-item"><a href="../message">留言</a></li>
            <li class="nav-item"><a href="../about">关于</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block fluid %}
    <div class="layui-col-sm12 HeadBack">
    <h2>欢迎各位大神互相沟通交流各种前端技术，如需展示链接，请在留言处留言谢谢。</h2>
    </div>
{% endblock %}
{% block container %}
    <div class="layui-col-md12">
        <div class="linkweb">
            <ul>
                {% if weblinks %}
                    {% for weblink in weblinks %}
                        <li>
                            <a href="{{ weblink.weburl }}" target="_blank">
                                <img src="{{ weblink.picurl }}" alt="{{ weblink.name }}">
                                <h3>{{ weblink.name }}</h3>
                                <p>{{ weblink.webDesc }}</p>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}