<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title%}
        <title>花花与风的博客</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/css/huaui.css' %}">

</head>
<body>
<div class="huaui-nav">
    <div class="item">
        <a href="../"><img src="{% static 'common/imgs/logo.png' %}"></a>
        <ul class="">
            <li class="huaui-nav-item huaui-this"><a href="javascript:;">博客</a></li>
            <li class="huaui-nav-item"><a href="javascript:;">相册</a></li>
            <li class="huaui-nav-item"><a href="javascript:;">友情链接</a></li>
            <li class="huaui-nav-item"><a href="javascript:;">归档</a></li>
            <li class="huaui-nav-item"><a href="javascript:;">留言</a></li>
            <li class="huaui-nav-item"><a href="javascript:;">关于</a></li>
            <li class="huaui-nav-item"><a href="../test/">我的UI</a></li>
        </ul>
    </div>

</div>

<div class="huaui-card">
    <div class="huaui-card-left">nihsao</div>
</div>
<div class="huaui-card">
    <div class="huaui-card-right">hah</div>
</div>
</body>
</html>
