<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .layui-container{width: 1200px;margin: 0;padding: 0;text-align: center}
        .a{width: 100%;border: 1px solid #0C0C0C;height: 300px;}
        .a .c{background-color: #0C0C0C}
        .a .d{padding: 20px}
        .a .b{margin: 10px 0 0 0;padding: 0;background-color: #F7F7F7;float: left;width: 100%;overflow:hidden}
    </style>
</head>
<body>
<div class="layui-container">
    <div class="a">
        <div class="c">jjj</div>
        <div class="d">
            <div class="b">你好</div>
        </div>

    </div>
</div>
</body>
</html>