<configuration>
  <system.webServer>
    <handlers>
      <add name="JWDSJHandle" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\MyBlogWeb" />

    <!-- Optional settings -->
  
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  
    <add key="DJANGO_SETTINGS_MODULE" value="MyBlogWeb.settings" />
 
  </appSettings>
</configuration>
