body{font: 14px 宋体 Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif; overflow-x: hidden;background-color: #F2F2F2;}
body a{cursor: pointer;}

.nav{z-index:1;text-align: center;padding:0!important;top:0;width:100%;position: fixed!important;background-color: hsla(0,0%,100%,.9)!important;height: 60px;line-height: 60px;box-sizing:border-box;box-shadow: 0 1px 5px 0 rgba(0,0,0,.09); }
.nav .item{margin:0 auto;width:100%;height: 60px;}

.nav img {float: left;padding-left: 7.5px;}
.nav ul{float: right;}
.nav ul li{float: left;font-size: 16px;;}
.nav ul li a{color:#777777!important;}

@media screen and (min-width:768px){.nav .item{width:750px}}
@media screen and (min-width:992px){.nav .item{width:970px}}
@media screen and (min-width:1280px){.nav .item{width:1250px}}

.picbanner{height: 300px; width: 100%; background: url(../../common/imgs/picheader.jpg) no-repeat; background-size:cover;text-align: center}
.picbanner .title{color: #fff;text-align: center;padding-top: 60px;}
.picbanner .seat{width: 15%;float: left;}
.picbanner .title .logo-title{font-size: 30px; line-height: 30px;width: 85%;float: left;text-align: left;}
.picbanner .title .logo-desc{font-size: 16px;float: left;width: 85%;text-align: left;}

.content{padding:0 0 50px 0;margin-bottom: 20px;background-color: white;}
.content  .title{width: 100%;float: left;padding: 0 0 20px 0;}
.content  .title a{font-size: 16px; color: #000!important;font-weight: bold;transition: all .3s ease;}
.content  .title a.active,.content  .title a:hover{color: #000000!important;}
.content   .item{overflow: hidden;padding: 20px 20px 0 20px;}
.content   .item .img{float: left;}
.content   .item .img img{height: 160px;width: 240px;}
.content   .item .abstract{width: 67%;padding-left: 20px;float: left;text-align: justify;display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;-webkit-line-clamp: 4;line-height: 24px;}
.content   .item .abstract a{color: #999999;}
.content   .item  .author{overflow: hidden;margin: 20px 0 0 0;clear: both;display: inline-block;color: #999;width: 100%;line-height: 24px;border-bottom:1px dashed #adadad;padding-bottom: 20px;}
.content   .item  .author span{padding-left: 20px;margin: 0 10px 0 0;font-size: 12px;}
.content   .item  .author .t_right{padding-left: 0;margin: 0;font-size: 12px;}
.content   .item  .author .t_left{padding-right: 20px;margin: 0;font-size: 12px;}
.content   .item  .author .orign{line-height: 24px;padding: 0 5px;background-color: #e8e8e8;}
.content   .item  .author .top{line-height: 24px;padding: 0 5px;margin-right: 10px;background-color: #e8e8e8;}
.content   .item  .author .top:hover{background-color: #d3d3d3;color:black}
.content   .item  .author .orign:hover{background-color: #d3d3d3;color:black}
.content   .item  .author span a{color: #999}
.content   .item  .author .lm{
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 4px;}
.content   .item  .author .dtime {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -45px;}
.content   .item  .author .pingl {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -20px;}
.content   .item  .author .viewnum {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -70px;
}
.f_l{float: left}
.f_r{float: right}

.footer-wrap{border-top: 1px solid #402863;}
.footer{padding:35px 0 35px 0; position: relative; overflow: hidden;
    background-color: #333333;
    color: #888;
    /*position: absolute;*/
    /*width:100%;*/
    /*bottom:0;*/
    text-align: center;
    clear:both;}
.footer .footer-hr {border-top-width: 1px;border-top-color: #444444;border-top-style: solid;padding: 10px 0 30px 0}
.footer .footer-hr p{padding: 0 0 8px 0}
.footer .footer-link ul {padding: 0 0 5px 0}
.footer .footer-link ul li{padding: 2px 0 2px 0}
.footer .footer-link ul li a{color: #888}
.footer .footer-desc p{text-align: left;line-height: 24px}

@media screen and (max-width: 1280px){
    .content  .title{padding:0 0 20px 0;}
    .content   .item .img{padding:0;width: 100%;}
    .content   .item .img img{width: 100%;height:100%;}
    .content   .item .abstract{width:100%;padding: 20px 0;text-align: justify;}
    .content   .item .author{}

}

@media screen and (max-width: 768px){

    .banner .amount{line-height: 40px; }
    .banner .title{top: 245px;}
    .banner .title h3{font-size: 40px; line-height: 44px;}
    .banner .title h4{font-size: 24px;}
    .footer{padding-left: 0;}
    .footer .qrcode{float: none; margin-bottom: 40px; margin-left: 10px;}
    .footer .practice-mode{position: relative; margin-left: 10px;}
    .banner .title{top: 290px; left: 20px;}
    .banner .amount{left: 20px; top: 210px; line-height: 30px;}
    /*menu-btn*/
    .menu { width: 50px; height: 40px; position: relative; cursor: pointer;background-color: white}
    .menu:before, .menu:after { content: ""; display: block; width: 50px; height: 6px; background: #ff7f21; border-radius: 8px; position: absolute; left: 0; -webkit-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
    .menu:before { top: 0; box-shadow: 0 34px #ff7f21;}
    .menu:after { bottom: 17px; }
    .menu.on:before { top: 17px; box-shadow: none; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
    .menu.on:after { bottom: 17px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
    .menu-btn{position: absolute; top: 40px; right: 20px;background-color: white}
    .header .header-down-nav { width: 100%; position: absolute; top: 120px; z-index: 2; left: 0; padding: 0; border-radius: 0;}
    .header .header-down-nav {background: #ff7f21;}
    .header .header-down-nav .layui-nav-item a{padding:0 40px;}
    .header .header-down-nav li {display: block;}
    .header .header-down-nav li a{font-size: 16px;}}
/**, :after, :before {*/
    /*box-sizing: border-box;*/
/*}*/

/*.layui-card-body ul li{font-size: 13px;color: #545556;line-height: 26px;}*/
.webinfo{}
.webinfo ul li{color: #999999;}
.webinfo ul li a{color: #999999;}
/*排行*/
.ranker {counter-reset:section;}
.ranker li {width:100%;line-height: 30px; height: 30px;overflow:hidden;}
.ranker li a {font-size: 13px;color: rgba(153,153,153,1)}
.ranker li:before {counter-increment:section;content:counter(section);display:inline-block;padding:0 6px;margin-right:10px;height:18px;line-height:18px;background:#717070;color:#fff;border-radius:3px;font-size:9px;}
.ranker li:nth-child(1):before {background:#ff6a00}
.ranker li:nth-child(2):before {background:#107db4}
.ranker li:nth-child(3):before {background:#56ae11}
/*无数据展示*/
#nodata {height: 395px;text-align: center;color:#545556;line-height:52px}
#nodata .nodatatip {padding-top: 100px;font-size: 30px;line-height:20px}

.note{color:#999999;font-size: 12px;max-height: calc(100vh - 165px);
    overflow: hidden;}

.note a {color: rgba(0,0,0,0.65);
    background: transparent;
    line-height: 24px;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
border:1px solid #e6e6e6; padding: 4px 8px;border-radius: 4px;margin: 8px 8px 8px 0;}

/*文章内容*/
.blog-content{margin-bottom: 0;padding-bottom: 0!important;background-color: white;}
.blog-content .blog-title{margin: 16px 0;font-size: 20px;text-align: center;}
.blog-content .blog-title h3{font-weight: bold;color: #000000;}
.blog-content .con-desc{display: flex;flex-direction: row;justify-content: center;align-items: center;flex-wrap: nowrap;margin: 12px 0 16px;color: #adadad;font-size: 12px;}
.blog-content .con-desc a{padding-right: 20px;}
.blog-content .text-desc {font-size: 14px;color: #999999;border-left: 5px solid #E6E6E6;padding: 20px 0 20px 20px;margin: 20px;line-height: 30px;}
.blog-content .text-desc a, .blog-content .text-desc span{color: #999999;}
.blog-content .text-con{padding: 25px;}


/*回复列表*/
.space-message{}
.space-message p{ padding-bottom: 10px;}
.message-content {position: relative;margin-bottom: 20px;width: 100%;}
.message-content .fontColor{font-weight: bold;font-size: 16px;}
.message-content .media-body{margin-bottom: 20px;padding: 0 20px 30px 20px;border-bottom: 1px dashed #999999;}
.message-content .media-body .pad-btm{width:100%;}
.message-content .media-body .pad-btm a{font-size: 12px;}
.message-content .media-left{float: left;margin-right: 15px}
.message-content .media-left img{border-radius: 50%;height: 50px;width: 50px;}
.message-text{padding-top: 0;padding-left: 65px}
.message-content-btn{text-align: center}
.message-content .layui-btn {height: auto;line-height: 0;padding: 0;font-size: 12px;border-width: 0}
/*.message-content hr{margin-bottom: 30px;}*/
.message-content .reply-text{padding: 10px 64px 10px 64px;}
.message-content .reply-container{margin: 0;padding: 15px;border:1px dashed #adadad;overflow:hidden}
.message-content .reply-container .title{line-height: 24px;}
.message-content .reply-container .title span{font-weight: 800;color: #4b4b4b;}
.message-content .reply-container .reply-date span{margin-top: 5px;margin-bottom: 5px;font-size: 12px;color: #adadad;line-height: 24px;padding: 0;}
.message-content .reply-container .reply-date span a{color: #adadad;text-decoration: none;}
.message-content .reply-comment{padding: 10px 0 20px 64px;color: #adadad!important;}
.message-content .reply-comment button{color: #adadad!important;margin-left: 0!important;font-size: 12px!important;}
.message-content .reply-comment button p{font-size: 13px!important;}
.message-content .reply-to-text{padding: 10px 93px 10px 16px;position: relative;border: 3px solid #f0f0f0;margin: 10px 64px 10px 64px;height: 58px;}
.message-content .reply-to-text .text .reply-box-textarea{height: 100%;width: 100%;}
.message-content .reply-to-text textarea{outline: none;overflow:hidden;resize: none;line-height: 24px;color: #4b4b4b;font-size: 14px;border: 0;margin: 0;padding: 0}
.message-content .reply-to-text .replybtn {position: absolute;right: -3px;top: -3px;z-index: 1;width: 80px;height: 83px;background-color: #379be9;font-size: 16px!important;line-height: 83px;text-align: center;color: #fff;cursor: pointer;}


/*评论标题*/
.comment-content {width: 100%;margin-bottom: 20px;}
.comment-content h2{font-size: 16px;font-weight: bolder;padding: 0 30px!important;}

/*发表评论*/
#reply{width: 100%;}
#reply .reply-head{width: 50px;height: 50px;border-radius: 50%;}
#reply .text{margin-left: 80px;min-height: 36px;padding-right: 14px;}

/*文章详情回复区域通用去掉空隙*/
/*.clearspace{padding-top: 0!important;padding-bottom: 0!important;}*/


/*图片模块*/
/*图片覆盖特效*/
.box{text-align: center;overflow: hidden;position: relative;background:#fff;background-size: cover;padding-bottom:60%;border:4px solid #adadad;}
.box .box-content{position: absolute;bottom: 0;left: 0;height: 40px;width:100%;background: rgba(0,0,0,0.5);color:#ffffff;transition: height 0.5s;line-height: 40px;
-moz-transition: height 0.5s;	/* Firefox 4 */
-webkit-transition: height 0.5s;	/* Safari 和 Chrome */
-o-transition: height 0.5s;}
.box .picinfo{position: absolute;top: 0;left: 0;width:100%;height:30px;display: none;font-size: 12px;background: rgba(0,0,0,0.5);transition: height 2s}
.box .picdesc{position: absolute;top: 5px;left: 5px;color:white;}
.box .piccomment{position: absolute;top: 5px;right: 5px;color:white;}
.box .box-content .title{font-size: 16px;font-weight: bold;line-height: 40px;margin: 0;}
.box .box-content .post{font-size: 12px;text-align: left!important;padding: 10px!important;line-height: 20px;display: none;}
.box:hover .box-content{height: 60%;}
.box:hover .picinfo{display:block;}
.box:hover .box-content .post{display:block;}
/*.outborder{position: relative;width: 100%;text-align: center;}*/

/*.box .titleshow{height: 10%;width: 100%;position: absolute;bottom: 0;left: 0;background-color: white;color: black;font-size: 12px;line-height: 300%;}*/
/*.box:hover .titleshow{display:none;}*/

@media only screen and (max-width:990px){  .box{ margin-bottom: 30px; }  }

.fixed-bottom {position: fixed;bottom: 0;width:100%;}
.picbox{text-align: center;overflow: hidden;position: relative;background-size:cover ;padding-bottom: 60%;border-width: 0;}
.pic-function {height: 30px;width: 200px;font-size: 12px;position: absolute;top: 0;right: 0;display: none;}
.pic-function ul li {float: right;font-size: 12px;list-style: none;}
.pic-function ul li button {width: 100%;padding: 4px;border-width: 0;color: white!important;background-color: black;opacity: 1;}

/*友情链接*/
.linkweb {color:#adadad;margin-bottom: 20px;float: left;margin-top: -10px;}
.linkweb ul{margin-left:-2%;}
.linkweb ul li{float: left;background-color: white;margin-top: 20px;margin-left:2%;width: 23%;}
.linkweb ul li:hover{box-shadow: 2px 5px 14px #c5c5c5;transform: translate3d(0,-2px,0);-webkit-transform: translate3d(0,-3px,0);}
.linkweb ul li a{font-size: 12px;padding: 15px;width: 90%;line-height: 16px;display: block}
.linkweb ul li h3{height: 40px;line-height: 40px;overflow: hidden;color: #333;}
.linkweb ul li p{margin-top: 10px;height: 80px;overflow: hidden;font-size: 12px;color: #777;}
.linkweb ul li img{height: 40px;width: 40px;border-radius: 50%;float: left; margin-right: 15px;}

@media screen and (max-width: 768px) {  .linkweb ul li{width: 100%;margin-left: 0;}  .linkweb ul{margin-left:0;}  }

.message-con{text-align: left}

/*#自定义*/
.blog-elem-quote{ margin:20px 0 10px 0;padding: 15px;border-left: 5px solid #009688;border-radius: 0 2px 2px 0;background-color:#f0f3f9;}
.content-sapce-15{padding-top: 20px;}
.Tophead{margin-top: 60px;}


/*#留言*/
.Message{float: left;width: 100%;border-bottom: 1px solid #f0f3f9; padding:0!important; position: relative;background-color: white;}
.Message .headimg{float: left;margin: 0;padding: 20px 0 30px 10px;}
.Message .headimg img{height: 50px;width: 50px; border-radius: 50%;float: left;}
.Message .user{text-align: left;overflow: hidden;float: left;line-height:100%;position: absolute;top: 20px;left: 70px;color: dodgerblue;padding:0 0 10px 0;}
.Message .text{text-align: left;line-height: 20px;position: static;padding: 45px 70px 35px 70px;height:100%;color:#545556;}
.Message .date{text-align: left;overflow: hidden;float: left;line-height:100%;position: absolute;left:70px;bottom: 10px;color: #adadad;padding:10px 0 0 0;}

.navigation{text-align: center;padding: 10px;}
/*.pagination .step-links{border: 1px solid #1E9FFF;padding: 10px;}*/
/*.pagination .step-links span{font-size: 12px;color: #545556}*/

.about{height: 200px; width: 100%; background-color: #1E9FFF; background-size:cover;float: left;}
.about {position: relative;text-align: center;width: 100%;}
.about .title{color: #fff;}
.about .title h3{font-size: 20px; line-height: 200px;text-transform: uppercase;}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}