body{font: 14px "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif; overflow-x: hidden;background-color: #F7F7F7;}
body a{cursor: pointer;}
.layui-card-header{color:#00a67c!important;border-radius: 0!important;background-color: #ffffff;border: 0;font-size: 16px!important;}
.layui-card{box-shadow: 0 0 0!important;border-radius: 0!important;}
.nav{z-index:1;text-align: center;padding:0!important;top:0;width:100%;position: fixed!important;background-color: hsla(0,0%,100%,.9)!important;height: 60px;line-height: 60px;box-sizing:border-box;box-shadow: 0 1px 5px 0 rgba(0,0,0,.09); }
.nav .item{margin:0 auto;width:100%;height: 60px;}
.nav * {
    font-size:14px
}
.nav img {float: left;padding-left: 7.5px;}
.nav ul{float: right;}
.nav .nav-item {
    position:relative;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
    line-height:60px
}


.nav .nav-item a {
    display:block;
    padding:0 20px;
    color:#777777!important;
    color:rgba(255,255,255,.7);
    transition:all .3s;
    -webkit-transition:all .3s
}
.nav .layui-this:after,.nav-bar,.nav-tree .layui-this:after {
    position:absolute;
    left:0;
    top:0;
    width:0;
    height:5px;
    background-color:#00a67c;
    transition:all .2s;
    -webkit-transition:all .2s
}
.nav-bar {
    z-index:1000
}
.nav .nav-item a:hover,.nav .layui-this a {
    color:#fff
}
.nav .layui-this:after {
    content:'';
    top:auto;
    bottom:0;
    width:100%
}
.nav-tree{margin:0 auto 30px;width:100%;text-align: left;background-color: #fefefe;position: fixed;z-index: 1;top: 60px;left:0;opacity: 0.8;}
.nav-tree .navpic {height: 60px;line-height: 60px;}
.nav-tree .navpic img {padding-left: 15px;}
.nav-tree ul{padding-left: 20px;}
.nav-tree .nav-item{font-size: 16px;line-height: 50px;height: 50px;border-top:1px solid #dcdcdc;display:block;}
.nav-tree .nav-item a{color:#777777!important;}
.menu { width: 50px; height: 40px; position: relative; cursor: pointer;}
.menu:before, .menu:after { content: ""; display: block; width: 50px; height: 6px; background: #777; border-radius: 8px; position: absolute; left: 0; -webkit-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
.menu:before { top: 0; box-shadow: 0 34px #777;}
.menu:after { bottom: 17px; }
.menu.on:before { top: 17px; box-shadow: none; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
.menu.on:after { bottom: 17px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
.menu-btn{position: absolute; top: 10px; right: 20px;}

@media screen and (max-width:800px){.nav-horizontal{display: none;}.nav-tree{display: none}.menu{display: block}}
@media screen and (min-width: 0){
    .layui-col-sm12 {
        width: 100%!important;
        float: left;
    }}
@media screen and (min-width:800px){.nav .item{width:780px} .nav-horizontal{display: block;}.nav-tree{display: none!important;} .menu{display: none}}
@media screen and (min-width:1000px){.nav .item{width:980px}}
@media screen and (min-width:1280px){.nav .item{width:1260px}}

.picbanner{height: 300px; width: 100%; background: url(../../common/imgs/picheader.jpg) no-repeat; background-size:cover;text-align: center}
.picbanner .title{color: #fff;text-align: center;padding-top: 60px;}
.picbanner .seat{width: 15%;float: left;}
.picbanner .title .logo-title{font-size: 30px; line-height: 30px;width: 85%;float: left;text-align: left;}
.picbanner .title .logo-desc{font-size: 16px;float: left;width: 85%;text-align: left;}

.content{padding:0 0 50px 0;margin-bottom: 0;background-color: white;}
.content   ul li{border-bottom:1px dashed #adadad;}
.content   ul li .header{width: 100%;padding: 0 0 20px 0;display: inline-block;clear: both;}
.content   ul li .header .title{float: left}
.content   ul li .header .title a{font-size: 20px; color: #00a67c!important;transition: all .3s ease;}
.content   ul li .header .title  a:hover{color: #000000!important;}
.content   ul li .header .category{float: right;}
.content   ul li .header .category a{color:#777!important;border: 1px solid #f0f0f0;padding: 5px 10px;}
/*.content   ul li .header .category:hover{background-color: #0C0C0C;}*/
.content   ul li .header .category a:hover{background-color: #00a67c;color:#ffffff!important;}
.content   ul li{overflow: hidden;padding: 20px 20px 0 20px;}
.content   ul li .img{float: left;overflow: hidden;}
.content   ul li .img img{height: 160px;width: 240px;cursor: pointer;transition: all 0.5s; /* 所有的属性变化在0.5s的时间段内完成 */}
.content   ul li:hover img{transform: scale(1.1);}
.content   ul li .abstract{width: 67%;padding-left: 20px;float: left;text-align: justify;display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;-webkit-line-clamp: 4;line-height: 24px;}
.content   ul li .abstract a{color: #777;}
.content   ul li  .author{overflow: hidden;margin: 20px 0 0 0;clear: both;display: inline-block;color: #999;width: 100%;line-height: 24px;padding-bottom: 20px;}
.content   ul li  .author span{padding-left: 20px;margin: 0 10px 0 0;font-size: 12px;}
.content   ul li  .author .t_right{padding-left: 0;margin: 0;font-size: 12px;}
.content   ul li  .author .t_left{padding-right: 20px;margin: 0;font-size: 12px;}
.content   ul li  .author .orign{line-height: 24px;padding: 0 5px;background-color: #e8e8e8;}
.content   ul li  .author .top{line-height: 24px;padding: 0 5px;margin-right: 10px;background-color: #e8e8e8;}
.content   ul li  .author .top:hover{background-color: #d3d3d3;color:black}
.content   ul li  .author .orign:hover{background-color: #d3d3d3;color:black}
.content   ul li  .author span a{color: #999}
.content   ul li  .author .lm a:hover{color:#777!important;}
.content   ul li  .author .lm{
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 4px;}
.content   ul li  .author .dtime {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -45px;}
.content   ul li  .author .pingl {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -20px;}
.content   ul li  .author .viewnum {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -70px;
}
.f_l{float: left}
.f_r{float: right}

.footer-wrap{border-top: 1px solid #402863;}
.footer{padding:35px 0 35px 0; position: relative; overflow: hidden;
    background-color: #333333;
    color: #888;
    /*position: absolute;*/
    /*width:100%;*/
    /*bottom:0;*/
    text-align: center;
    clear:both;}
.footer .footer-hr {border-top-width: 1px;border-top-color: #444444;border-top-style: solid;padding: 10px 0 30px 0}
.footer .footer-hr p{padding: 0 0 8px 0}
/*.footer .footer-link{}*/
/*.footer .footer-link ul {padding: 0 0 5px 0;text-align: center;}*/
/*.footer .footer-link ul li{padding: 2px 0 2px 0}*/
/*.footer .footer-link ul li a{color: #888}*/
.footer .footer-desc{padding: 10px;}
.footer .footer-desc p{text-align: left;line-height: 24px;}


@media screen and (max-width: 1280px){
    .content  .title{padding:0 0 20px 0;}
    .content   .item .img{padding:0;width: 100%;}
    .content   .item .img img{width: 100%;height:100%;}
    .content   .item .abstract{width:100%;padding: 20px 0;text-align: justify;}
    .content   .item .author{}

}

@media screen and (max-width: 800px){
    .f_r{float: left;}
    .footer{padding-left: 0;}}
.layui-icon,.iconfont{font-weight: normal!important;}

.search-border{padding: 20px 15px!important;}
.search-border .search-con{width: 100%;height: 35px;line-height: 35px;}
.search-border .search-con input{width: 90%;float: left;}
.search-border .search-con button{width: 7%;float: right;border: 0;line-height: 35px;background-color: #ffffff;}
/*.layui-card-body ul li{font-size: 13px;color: #545556;line-height: 26px;}*/
.card-title{}
.webinfo ul{ padding: 20px 0;}
.webinfo .layui-card-body{padding: 0;}
.webinfo ul a li{color: #777;line-height: 40px;padding: 0 45px;border-right: 0;border-bottom:1px solid #F8F8F8;transition: background-color 1s,border-right-color 1s;
    -moz-transition: background-color 1s,border-right-color 1s;	/* Firefox 4 */
    -webkit-transition: background-color 1s,border-right-color 1s;	/* Safari 和 Chrome */
    -o-transition: background-color 1s,border-right-color 1s;}
.webinfo ul a li:hover{background-color: rgba(0,166,125,.7);color:#fff;}
.webinfo ul a li:hover .webinfo ul li{color: #00a67c!important;}
/*.webinfo ul a li:nth-child(1):before {background-color: #F8F8F8;border-right: 2px solid black;}*/
/*.webinfo ul a:active .webinfo ul a li{background-color: #F8F8F8;border-right: 2px solid black;}*/
/*排行*/
/*.ranker i{font-size: 20px;line-height: 42px;}*/
.ranker ul{counter-reset:section;}
.ranker ul li {width:100%;line-height: 40px; height: 40px;overflow:hidden;}
.ranker ul li:hover{background-color: #F8F8F8!important;}
.ranker ul li a {font-size: 13px;color: #777;overflow: hidden;}
.ranker ul li:before {counter-increment:section;content:counter(section);display:inline-block;padding:0 6px;margin-right:10px;height:18px;line-height:18px;background:#00a67c;color:#ffffff;border-radius:50%;font-size:9px;}

/*无数据展示*/
#nodata {height: 395px;text-align: center;color:#545556;line-height:52px}
#nodata .nodatatip {padding-top: 100px;font-size: 30px;line-height:20px}

.affix .is-fixed{
    position: fixed;
    z-index: 100;
    max-height: calc(100% - 100px);
}

.note{color:#777;font-size: 12px;max-height: calc(100vh - 165px);
    overflow: hidden;}

.note a {    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 0 8px;
    border: 1px solid #00a67c;
    background-color: #00a67c;
    font-size: 12px;
    border-radius: 4px;
    transition: all .3s ease;color:#fff}
.note a:hover{background-color:#ffffff;color: #777;border: 1px solid #777;}


.search{padding: 20px 0;}



.search ul{counter-reset:section;}
.search ul li{font-size: 14px;padding: 15px 0;border-bottom: 1px solid #efefef;}
.search ul li a{height: 16px;line-height: 16px;font-size: 16px;font-weight: bold;}
.search ul li p{padding:0 38px;color: #777;}
.search ul li:before{counter-increment:section;content:counter(section);display:inline-block;padding:0 9px;margin-right:10px;height:24px;line-height:24px;background:#e6e6e6;color:#505050;border-radius:50%;font-size:9px;}
/*文章内容*/
.blog-content{margin-bottom: 0;padding-bottom: 0!important;background-color: white;width: 100%;}
.blog-content .blog-head{padding: 10px 25px;margin-top: 5px;color: #000000;}
.blog-content .blog-head .blog-title{margin: 10px 0;font-size: 24px;text-align: left;}
.blog-content .blog-head .blog-title h3{color: #000000;}
.blog-content .blog-head .con-desc{display: flex;flex-direction: row;justify-content: left;align-items: center;flex-wrap: nowrap;margin: 0;font-size: 14px;}
.blog-content .blog-head .con-desc a{padding-right: 20px;color: #999999!important;}
.blog-content .text-desc {font-size: 14px;color: #777;border-left: 5px solid #E6E6E6;padding: 20px 0 20px 20px;margin: 20px;line-height: 30px;background-color: #f0f0f0;}
.blog-content .text-desc a, .blog-content .text-desc span{color: #777;}
.blog-content .text-con{padding:0 25px;font-size:16px;color:#4f4f4f;}
.blog-content .text-con img{ max-width: 100%;
    height: auto;}
@media screen and (max-width: 800px){
    .blog-content .blog-head .con-desc{display: block;text-align: left;}
    .blog-content .blog-head .con-desc a{width: 100%;padding: 0 5px 0 0;}
}

/*回复列表*/
.space-message{}
#messagetext{padding: 0 20px;}
/*.space-message p{ padding-bottom: 10px;}*/
.message-content {margin-bottom: 20px;width: 100%;}

.message-content .media-body{margin-bottom: 20px;padding: 0 20px 20px 20px;border-bottom: 1px dashed #e6e6e6;}
/*左侧头像*/
.message-content .media-left{float: left;margin-right: 15px}
.message-content .media-left img{border-radius: 50%;height: 50px;width: 50px;}
.message-content .media-body .pad-btm {width:100%;}
.message-content .media-body .pad-btm .min-font a{font-size: 12px;color: #777!important;}
.message-content .media-body .pad-btm .fontColor{font-weight: bold;font-size: 14px!important;}
.message-content .media-body .pad-btm .message-text{padding:2px 0 14px 65px;}
.message-content-btn{text-align: center}
.message-content .layui-btn {height: auto;line-height: 0;padding: 0;font-size: 12px;border-width: 0}
/*.message-content hr{margin-bottom: 30px;}*/
.message-content .reply-text{padding: 0 64px;}
.message-content .reply-container{margin-bottom: 20px;padding: 0 15px 15px 15px;border:1px dashed #e6e6e6;overflow:hidden}
.message-content .reply-container .box-reply{padding: 0;float: left;width: 100%;}
.message-content .reply-container .title{line-height: 24px;padding: 11px 0;float: left;height: 24px;}
.message-content .reply-container .title img{height:24px;width:24px;border-radius:50%;float: left;margin-right: 10px;}
.message-content .reply-container .title p{font-weight: 800;color: #4b4b4b;line-height: 24px;float: left;}
.message-content .reply-container .brower{line-height: 24px;padding: 11px 0;float: right;height: 24px;font-size: 12px;color:#777;text-align: left;}

.message-content .reply-container .replyContent{padding: 5px 0;float: left;width: 100%;color: rgba(0,0,0,0.85)}
.message-content .reply-container .other{padding: 5px 0;border-bottom: 1px dashed #e6e6e6;position: relative;display: block;box-sizing: border-box;width: 100%;float: left;}
.message-content .reply-container .like{font-size: 12px;color: #777;line-height: 24px;padding: 5px 0;float: left;margin-right: 20px;}
.message-content .reply-container .like button{color: #777!important;}
.message-content .reply-container .like span p{color: #777!important;}
.message-content .reply-container .reply-date {font-size: 12px;color: #777;line-height: 24px;padding: 5px 0;float: right;}
.message-content .reply-container .reply-date  a{color: #777;text-decoration: none;}
.message-content .reply-comment{padding: 0 0 0 64px;color: #777!important;line-height: 24px;height: 24px}
.message-content .reply-comment .like{float: left;line-height: 24px;margin-right: 20px;color: #777;}
.message-content .reply-comment .like i{font-size: 18px;}
.message-content .reply-comment .reply-btn{float: left;line-height: 24px;}
.message-content .reply-comment button{color: #777!important;margin-left: 0!important;font-size: 12px!important;}
.message-content .reply-comment button p{font-size: 13px!important;}
.message-content .reply-to-text{padding: 10px 93px 10px 16px;position: relative;border: 3px solid #f0f0f0;margin: 10px 64px 0 64px;height: 58px;}
.message-content .reply-to-text .text .reply-box-textarea{height: 100%;width: 100%;}
.message-content .reply-to-text textarea{outline: none;overflow:hidden;resize: none;line-height: 24px;color: #4b4b4b;font-size: 14px!important;border: 0;margin: 0;padding: 0}
.message-content .reply-to-text .replybtn {position: absolute;right: -3px;top: -3px;z-index: 1;width: 80px;height: 83px;background-color: #777;font-size: 16px!important;line-height: 83px;text-align: center;color: #fff;cursor: pointer;}
.message-content .reply-to-text .replybtn .layui-btn{font-size: 20px;}

/*评论标题*/
.comment-content {width: 100%;margin: 15px 0 15px 0;}
.comment-content .font-border{margin: 0 20px!important;padding: 0;line-height: 18px;
}
.comment-content .font-border h2{font-size: 16px;font-weight: bolder;letter-spacing:2px;color:#777;padding:10px 10px;border-bottom: 1px solid #eeeeee;border-left: 3px solid #eeeeee
}
.more{padding: 0 25px 10px;height: 60px;color:#777;font-size: 14px;}
.more a{color:#777;font-size: 14px;}
.more .lastpage{width: 100%;line-height: 30px;}
.more .nextpage{width: 100%;line-height: 30px;}
.share{text-align: center;width: 100%;}
.share ul{height: 100px;}
.share ul li{width: 33.333%;float: left;}
.share .qq {height: 50px;}
.share .qq i{color: #00B7EE;font-size: 50px;line-height: 50px;}
/*.about-cont .contact .qq a{line-height: 30px;}*/
.share .wechat {height: 50px;}
.share .wechat i{color: #2ba246;font-size: 50px;line-height: 50px;}
.share .weibo {height: 50px;}
.share .weibo i{color: #e6162d;font-size: 50px;line-height: 50px;}


/*发表评论*/
#reply{width: 100%;}
#reply .reply-con{padding:0 20px;}
#reply .reply-con .userinfo{height: 36px;margin-bottom: 15px;margin-left:-3.33333%}
#reply .reply-con .userinfo .input-icon{width: 30%;float: left;margin-left:3.33333%}
#reply .reply-con .userinfo .input-inline{padding: 7px;background-color: #f2f2f2;height: 22px;line-height: 22px;}
#reply .reply-con .userinfo .input-icon .input-inline input{border-width: 0;background-color: #f2f2f2;font-size: 14px;width: 100%;height: 22px;}
/*#reply .reply-con .userinfo .username{width: 200px;display: block;float: left;margin-right: 20px;}*/
/*#reply .reply-con .userinfo .email{width: 200px;display: block;float: left;margin-right: 20px;}*/
#reply .reply-con .text{margin-bottom: 15px;}
#reply .reply-con .text textarea{border: 0;background-color: #f2f2f2;font-size: 14px;padding: 10px;border-radius: 2px;height: 36px;}
#reply .reply-con .text button{background-color: #f2f2f2;color:#555555;line-height: 32px;font-size: 14px;height: 32px;}

/*图片模块*/
/*图片覆盖特效*/
.box{text-align: center;overflow: hidden;position: relative;background:#fff;background-size: cover;padding-bottom:60%;border:4px solid #adadad;}
.box .box-content{position: absolute;bottom: 0;left: 0;height: 40px;width:100%;background: rgba(0,0,0,0.5);color:#ffffff;transition: height 0.5s;line-height: 40px;
    -moz-transition: height 0.5s;	/* Firefox 4 */
    -webkit-transition: height 0.5s;	/* Safari 和 Chrome */
    -o-transition: height 0.5s;}
.box .picinfo{position: absolute;top: 0;left: 0;width:100%;height:30px;display: none;font-size: 12px;background: rgba(0,0,0,0.5);transition: height 2s}
.box .picdesc{position: absolute;top: 5px;left: 5px;color:white;}
.box .piccomment{position: absolute;top: 5px;right: 5px;color:white;}
.box .box-content .title{font-size: 16px;font-weight: bold;line-height: 40px;margin: 0;}
.box .box-content .post{font-size: 12px;text-align: left!important;padding: 10px!important;line-height: 20px;display: none;}
.box:hover .box-content{height: 60%;}
.box:hover .picinfo{display:block;}
.box:hover .box-content .post{display:block;}


@media only screen and (max-width:1000px){  .box{ margin-bottom: 30px; }  }

.fixed-bottom {position: fixed;bottom: 0;width:100%;}
.picbox{text-align: center;overflow: hidden;position: relative;background-size:cover ;padding-bottom: 60%;border-width: 0;}
.pic-function {height: 30px;width: 200px;font-size: 12px;position: absolute;top: 0;right: 0;display: none;}
.pic-function ul li {float: right;font-size: 12px;list-style: none;}
.pic-function ul li button {width: 100%;padding: 4px;border-width: 0;color: white!important;background-color: black;opacity: 1;}

/*友情链接*/
.linkweb {background-color: white;float: left;font-size: 12px;padding: 15px 15px 0 15px;}
.linkweb ul{margin-left:-2%;}
.linkweb ul li{float: left;width: 23%;margin-left:2%;background-color: #ffffff;margin-bottom: 15px;box-shadow: 2px 5px 14px #c5c5c5}
.linkweb ul li a{width: 90%;padding: 5%;float: left;}
.linkweb ul li a img{height: 40px;width: 40px;border-radius: 50%;float: left;margin:0 10px 10px 0;}
.linkweb ul li a h3{height: 40px;line-height: 40px;float: left;overflow: hidden;font-size: 14px;font-weight: bold;}
.linkweb ul li a p{height: 100px;width: 100%;overflow: hidden;padding-top: 10px;font-size: 13px;line-height: 20px;color: #777;letter-spacing:0.5px;}
.linkweb ul li:hover{transform: translate3d(0,-2px,0);-webkit-transform: translate3d(0,-3px,0);}
.linkdesc{color: #777;}
.linkdesc p{line-height: 40px;}

@media screen and (max-width: 800px)
{
    .linkweb ul li{width: 100%;margin-left: 0;}  .linkweb ul{margin-left:0;}
}

/*#自定义*/
.blog-elem-quote{ margin:20px 0 10px 0;padding: 15px;border-left: 5px solid #009688;border-radius: 0 2px 2px 0;background-color:#f0f3f9;}
.content-sapce-15{margin:0 -7.5px -15px -7.5px }
.content-sapce-15>*{padding:0 7.5px 15px 7.5px }
.Tophead{margin-top: 75px!important;}
.Bottomhead{margin-top: -75px!important;}

.HeadBack{height: 260px;background: url(../../common/imgs/HeadBack.jpg) no-repeat;margin-bottom: 15px;margin-top: -15px;text-align: center;width: 100%;}
.HeadBack h2{line-height: 260px;color: #ffffff;}
#messagecon{padding: 0 25px;}
/*#留言*/
.message-head{height: 200px;width: 100%; text-align: center; }
.message-head .tips h2{text-transform: uppercase;width: 100%;padding-top: 50px;color: #777;font-size: 24px;}
.message-head .desc{line-height: 100px;color: #777;font-size: 16px;}
.Message{width: 100%;border-bottom: 1px solid #ededed; padding:15px 0 0 0!important;background-color: white;}
.Message p{color:#0E0E0E;}
.Message .headimg{float: left;margin: 0;padding: 0 10px 0 0}
.Message .headimg img{height: 50px;width: 50px; border-radius: 50%;}
.Message .user{text-align: left;overflow: hidden;float: left;line-height:20px;height:20px;padding:0 10px;}
.Message .user a{color: #00a67c;font-weight: bold;}
.Message .text{line-height: 20px;padding: 25px 70px 5px 70px;height:100%;}
.Message .date{text-align: left;overflow: hidden;line-height:100%;color: #a5a5a5;padding:5px 70px;}
.Message .date i{margin-left: 10px;color: #a5a5a5;font-size: 12px;}
.Message .replybtn{text-align: left;overflow: hidden;padding:0 70px 10px 70px;}
.Message .replybtn a{text-align: left;overflow: hidden;color: #bbb;}
.Message .replybtn a:hover{color: #00a67c;}
.Message .reply-input{text-align: left;overflow: hidden;padding:15px;border: 1px solid #ededed;margin-bottom: 15px;}
.Message .reply-input .userinfo{margin-bottom: 15px;height: 138px;}
.Message .reply-input .userinfo .inline-space{padding: 7px;border: 1px solid #ededed;width: 350px;margin-bottom: 15px;}
.Message .reply-input .userinfo input{width: 100%;font-size: 14px;height: 20px;line-height: 24px;border: 0;}
.Message .reply-input .text{padding: 10px;border: 1px solid #ededed;}
.Message .reply-input .text textarea{text-align: left;overflow: hidden;width: 100%;height: 100px;border: 0;resize:none;}
.Message .reply-input .reply-submit{padding: 10px 0;}
.Message .reply-input .reply-submit button{height: 30px;padding: 5px;color:#ffffff;background-color: #00a67c;border: 0;float: right;cursor:pointer;}
/*#submit{display: none;}*/
.message-con{text-align: left}
.message-con .Message-input .input-icon input{background-color: #f2f2f2;border-width: 0;font-size: 14px;float: left}
.message-con .mybtn button{background-color: #f2f2f2;color:#555555;line-height: 32px;font-size: 14px;height: 32px;}
.navigation{text-align: center;padding: 10px;}
.message-rely-list{padding:0 70px;}
.message-rely-children{border-top:1px solid #ededed;padding-top: 5px;}
.message-rely-children:before{}
.message-rely-list a,.message-rely-list span{color:#a5a5a5;}
.message-rely-list .reply-head{padding: 5px 0;float: left;}
.message-rely-list .reply-head img{padding: 0;height: 32px;width: 32px;border-radius: 50%;}
.message-rely-list .reply-user{padding: 0 0 0 52px;}
.message-rely-list .reply-user .replytoreply{float: right;color: #a5a5a5;font-weight: normal;}
.message-rely-list .reply-user a{color: #00a67c;font-weight: bold;}
.message-rely-list .reply-content{padding: 5px 0 5px 52px;line-height: 20px;}
.message-rely-list .reply-other{padding: 0 52px 5px;}
.message-rely-list .reply-other i{margin-left: 10px;color: #a5a5a5;font-size: 12px;}
.message-rely-list .replybtn{padding: 0 52px 5px;}

#MessageCon{border-width: 0;background-color: #f2f2f2;font-size: 14px;}
@media screen and (max-width: 800px){
    .message-con .Message-input .layui-inline{float: left;}

}
@media screen and (max-width: 450px)
{
.layui-form-item .layui-input-inline{margin: 0!important;}
}
/*关于*/
.about{height: 200px; width: 100%; text-align: center;}
.about .img{line-height: 100px;padding-top: 50px;}
.about .con{line-height: 50px;color: #777;}
.about .con h3{text-transform: uppercase;width: 100%;font-size: 16px!important;}
.about .img img{height: 100px;width: 100px;border-radius: 50%;}
.about-cont{padding: 30px!important;}
.about-cont ul{}
.about-cont .font{color: #777;padding: 10px 0!important;}
.about-cont p{padding-left: 20px;float: left}
.about-cont .self i{color: #1E9FFF;font-size: 20px;}
.about-cont .hobby i{color: #ff0000;font-size: 20px;}
.about-cont .tool i{color: #009E94;font-size: 20px;}
.about-cont .noteabout i{color: #FF00FF;font-size: 20px;}
/*.about-cont .self i{color: #ff0000;font-size: 20px;}*/
/*.about-cont .self i{color: #ff0000;font-size: 20px;}*/
.about-cont .myposition i{color: #FF5722;font-size: 20px;}
.about-cont .company i{color: #a67f59;font-size: 20px;}
.about-cont .title{line-height: 1.5;margin-bottom: 16px;text-align: center;color: rgba(0,0,0,0.43);position: absolute;top: 0;right: 0;left: 0;padding: 8px 0;background: hsla(0,0%,100%,0.8);}
.detail-item {display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;flex-wrap: nowrap;margin: 24px 0;padding: 0 12px;}
.github-follow{position: relative;padding-bottom: 32px;}
.card{position: relative;background-color: hsla(0,0%,100%,0.8);box-shadow: 0 0 14px 2px #ebebeb;border-radius: 2px;}
.card-body {padding: 16px 0;}
.github-follow .status{display: flex;flex-direction: row;justify-content: space-between;align-items: center;flex-wrap: nowrap;}
.github-follow .status>div{flex: 1;margin: 8px 0;text-align: center;}
.github-follow .status>div .count{font: italic 700 22px monospace;}
.github-follow .status>div .label{margin: 12px 0;color: rgba(0,0,0,0.25);text-transform: uppercase;}
.github-follow .status .divider{display: inline-block;flex: 0 0 1px;width: 1px;height: 36px;background: #e6e6e6;}
.github-follow .follow-btn{position: absolute;right: 0;bottom: 0;left: 0;width: 100%;height: 48px;line-height: 48px;background: rgba(16,142,233,.6);color: #fff!important;border: none;font-weight: 700;text-align: center;}
.github-follow .follow-btn a{color:#fff;}
.position{position: relative;line-height: 0;height:414px; }
.position .title{line-height: 1.5;margin-bottom: 16px;text-align: center;color: rgba(0,0,0,0.43);position: absolute;top: 0;right: 0;left: 0;padding: 8px 0;background: hsla(0,0%,100%,0.8);}
.position #allmap{height:367px;width:100%;margin-top: 47px;position: absolute!important;}



.card-no-padding, .card-no-padding .card-body{padding: 0;}
.contact{}
.contact .title{margin-bottom: 16px;text-align: center;color: rgba(0,0,0,0.43);}
.contact ul{  display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;}
.contact ul li{flex: 0 0 20%;width: 20%;text-align: center;}
.contact a{color: #777;font-size: 12px;line-height: 30px;}
.contact .qq {height: 30px;}
.contact .qq i{color: #00B7EE;font-size: 25px;line-height: 30px;}
/*.about-cont .contact .qq a{line-height: 30px;}*/
.contact .wechat {height: 30px;position: relative}
.contact .wechat img{height: 150px;width: 150px;z-index: 0;display: none;position: absolute;
    top: 30px;
    left: -37.5px;}
.contact .wechat i:hover .contact .wechat img{z-index: 1;display: block}
.contact .wechat i{color: #2ba246;font-size: 25px;line-height: 30px;}
.contact .weibo {height: 30px;}
.contact .weibo i{color: #e6162d;font-size: 25px;line-height: 30px;}
.contact .email {height: 30px;}
.contact .email i{color: #777;font-size: 25px;line-height: 30px;}
.contact .github {height: 30px;}
.contact .github i{color: #000000;font-size: 25px;line-height: 30px;}
/*.contact .weibo i,.about-cont .contact .weibo a{color: #e6162d;font-size: 20px;line-height: 30px;}*/
/*.about-cont .contact .wechat img{height: 200px;width: 200px;}*/
/*.about-cont .contact .wechat span{line-height: 30px;height: 30px;}*/
/*.archive{color: #777!important; }*/
/*.archive ul{padding: 20px;}*/
/*.archive ul li{padding: 10px 0;}*/
/*.archive ul li a{color: #777!important;font-size: 12px; }*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.timeboxpadding {padding:15px;}
.timebox { width:100%;margin:0 auto; }
.event_year { width:60px;border-bottom:2px solid #DDD;text-align:center;float:left;margin-top:10px; }
.event_year li { height:40px;line-height:40px;background:#f0f0f0;margin-bottom:1px;font-size:18px;color:#828282;cursor:pointer; }
.event_year li.current { width:61px;background:#0066ff url('../../../static/common/imgs/jian.png') 60px 0 no-repeat;color:#FFF;text-align:left;padding-left:9px; }
.event_list { width:760px;float:right;background:url('../../../static/common/imgs/dian3.png') 139px 0 repeat-y;margin:10px 0 20px 0; }
.event_list h3 { margin:0 0 10px 132px;font-size:24px;font-family:Georgia;color:#0066ff;padding-left:25px;background:url('../../../static/common/imgs/jian.png') 0 -45px no-repeat;height:38px;line-height:30px;font-style:italic; }
.event_list li { background:url('../../../static/common/imgs/jian.png') 136px -80px no-repeat; }
.event_list li span { width:127px;text-align:right;display:block;float:left;margin-top:10px; }
.event_list li p { width:590px;margin-left:24px;display:inline-block;padding-left:10px;background:url('../../../static/common/imgs/jian.png') -21px 0 no-repeat;line-height:25px;_float:left; }
.event_list li p span { width:560px;text-align:left;border-bottom:2px solid #F1F1F1;padding:10px 15px;background:#f0f0f0;margin:0; }

@media screen and (min-width:0){
    .event_list { width:250px;float:left;text-align: left;}
    .event_list li { text-align: left;}
    .event_list li p { width:80px;}
    .event_list li p span { width:200px;text-align:left;}

    /*@media screen and (min-width:370px){*/
    /*.event_list { width:500px;}*/
    /*.event_list li p { width:330px;}*/
    /*.event_list li p span { width:300px;}*/
    /*}*/
}
@media screen and (min-width:800px){.event_list { width:560px;}
    .event_list li p { width:390px;}
    .event_list li p span { width:370px;}
}
@media screen and (min-width:1280px){.event_list { width:760px;}
    .event_list li p { width:590px;}
    .event_list li p span { width:560px;}}


#pagination {
    padding: 20px 15px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #666666;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;

}
#blogpagination
{padding: 20px 15px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #666666;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;}
