body{font: 14px 宋体 Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif; overflow-x: hidden;background-color: #F2F2F2;}
body a{cursor: pointer;}
.layui-card-header{color:#999999!important;font-weight: bold;}
.nav{z-index:1;text-align: center;padding:0!important;top:0;width:100%;position: fixed!important;background-color: hsla(0,0%,100%,.9)!important;height: 60px;line-height: 60px;box-sizing:border-box;box-shadow: 0 1px 5px 0 rgba(0,0,0,.09); }
.nav .item{margin:0 auto;width:100%;height: 60px;}

.nav img {float: left;padding-left: 7.5px;}
.nav ul{float: right;}
.nav ul li{float: left;font-size: 16px;;}
.nav ul li a{color:#777777!important;}

@media screen and (min-width:768px){.nav .item{width:750px}}
@media screen and (min-width:992px){.nav .item{width:970px}}
@media screen and (min-width:1280px){.nav .item{width:1250px}}

.picbanner{height: 300px; width: 100%; background: url(../../common/imgs/picheader.jpg) no-repeat; background-size:cover;text-align: center}
.picbanner .title{color: #fff;text-align: center;padding-top: 60px;}
.picbanner .seat{width: 15%;float: left;}
.picbanner .title .logo-title{font-size: 30px; line-height: 30px;width: 85%;float: left;text-align: left;}
.picbanner .title .logo-desc{font-size: 16px;float: left;width: 85%;text-align: left;}

.content{padding:0 0 50px 0;margin-bottom: 0;background-color: white;}
.content   .item .header{width: 100%;padding: 0 0 20px 0;display: inline-block;clear: both;}
.content   .item .header .title{float: left}
.content   .item .header .title a{font-size: 16px; color: #000!important;font-weight: bold;transition: all .3s ease;}
.content   .item .header .title a.active,.content  .title a:hover{color: #000000!important;}
.content   .item .header .category{float: right;}
.content   .item .header .category a{color:#999999!important;border: 1px solid #f0f0f0;padding: 5px 10px;}
.content   .item{overflow: hidden;padding: 20px 20px 0 20px;}
.content   .item .img{float: left;}
.content   .item .img img{height: 160px;width: 240px;}
.content   .item .abstract{width: 67%;padding-left: 20px;float: left;text-align: justify;display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;-webkit-line-clamp: 4;line-height: 24px;}
.content   .item .abstract a{color: #999999;}
.content   .item  .author{overflow: hidden;margin: 20px 0 0 0;clear: both;display: inline-block;color: #999;width: 100%;line-height: 24px;border-bottom:1px dashed #adadad;padding-bottom: 20px;}
.content   .item  .author span{padding-left: 20px;margin: 0 10px 0 0;font-size: 12px;}
.content   .item  .author .t_right{padding-left: 0;margin: 0;font-size: 12px;}
.content   .item  .author .t_left{padding-right: 20px;margin: 0;font-size: 12px;}
.content   .item  .author .orign{line-height: 24px;padding: 0 5px;background-color: #e8e8e8;}
.content   .item  .author .top{line-height: 24px;padding: 0 5px;margin-right: 10px;background-color: #e8e8e8;}
.content   .item  .author .top:hover{background-color: #d3d3d3;color:black}
.content   .item  .author .orign:hover{background-color: #d3d3d3;color:black}
.content   .item  .author span a{color: #999}
.content   .item  .author .lm{
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 4px;}
.content   .item  .author .dtime {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -45px;}
.content   .item  .author .pingl {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -20px;}
.content   .item  .author .viewnum {
    background: url(../imgs/mynewsbg.png) no-repeat center;
    background-position: 0 -70px;
}
.f_l{float: left}
.f_r{float: right}

.footer-wrap{border-top: 1px solid #402863;}
.footer{padding:35px 0 35px 0; position: relative; overflow: hidden;
    background-color: #333333;
    color: #888;
    /*position: absolute;*/
    /*width:100%;*/
    /*bottom:0;*/
    text-align: center;
    clear:both;}
.footer .footer-hr {border-top-width: 1px;border-top-color: #444444;border-top-style: solid;padding: 10px 0 30px 0}
.footer .footer-hr p{padding: 0 0 8px 0}
.footer .footer-link ul {padding: 0 0 5px 0;text-align: center;}
.footer .footer-link ul li{padding: 2px 0 2px 0}
.footer .footer-link ul li a{color: #888}
.footer .footer-desc p{text-align: left;line-height: 24px}


@media screen and (max-width: 1280px){
    .content  .title{padding:0 0 20px 0;}
    .content   .item .img{padding:0;width: 100%;}
    .content   .item .img img{width: 100%;height:100%;}
    .content   .item .abstract{width:100%;padding: 20px 0;text-align: justify;}
    .content   .item .author{}

}

@media screen and (max-width: 768px){
    .f_r{float: left;}
    .banner .amount{line-height: 40px; }
    .banner .title{top: 245px;}
    .banner .title h3{font-size: 40px; line-height: 44px;}
    .banner .title h4{font-size: 24px;}
    .footer{padding-left: 0;}
    .banner .title{top: 290px; left: 20px;}
    .banner .amount{left: 20px; top: 210px; line-height: 30px;}
    /*menu-btn*/
    .menu { width: 50px; height: 40px; position: relative; cursor: pointer;background-color: white}
    .menu:before, .menu:after { content: ""; display: block; width: 50px; height: 6px; background: #ff7f21; border-radius: 8px; position: absolute; left: 0; -webkit-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
    .menu:before { top: 0; box-shadow: 0 34px #ff7f21;}
    .menu:after { bottom: 17px; }
    .menu.on:before { top: 17px; box-shadow: none; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
    .menu.on:after { bottom: 17px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
    .menu-btn{position: absolute; top: 40px; right: 20px;background-color: white}
    .header .header-down-nav { width: 100%; position: absolute; top: 120px; z-index: 2; left: 0; padding: 0; border-radius: 0;}
    .header .header-down-nav {background: #ff7f21;}
    .header .header-down-nav .layui-nav-item a{padding:0 40px;}
    .header .header-down-nav li {display: block;}
    .header .header-down-nav li a{font-size: 16px;}}
/**, :after, :before {*/
/*box-sizing: border-box;*/
/*}*/
.layui-icon,.iconfont{font-weight: normal!important;}

/*.layui-card-body ul li{font-size: 13px;color: #545556;line-height: 26px;}*/
.card-title{}
.webinfo ul{ padding: 20px 0;}
.webinfo .layui-card-body{padding: 0;}
.webinfo ul a li{color: #999999;line-height: 40px;padding: 0 45px;border-right: 2px solid white;border-bottom:1px solid #F8F8F8;transition: background-color 1s,border-right-color 1s;
    -moz-transition: background-color 1s,border-right-color 1s;	/* Firefox 4 */
    -webkit-transition: background-color 1s,border-right-color 1s;	/* Safari 和 Chrome */
    -o-transition: background-color 1s,border-right-color 1s;}
.webinfo ul a li:hover{background-color: #F8F8F8;border-right: 2px solid black;}
.webinfo ul a li:hover .webinfo ul li{color: #525252!important;}
.webinfo ul a li {color: #999999;}
.webinfo ul a li:nth-child(1):before {background-color: #F8F8F8;border-right: 2px solid black;}
.webinfo ul a:active .webinfo ul a li{background-color: #F8F8F8;border-right: 2px solid black;}
/*排行*/
/*.ranker i{font-size: 20px;line-height: 42px;}*/
.ranker ul{counter-reset:section;}
.ranker ul li {width:100%;line-height: 40px; height: 40px;overflow:hidden;}
.ranker ul li:hover{background-color: #e6e6e6!important;}
.ranker ul li a {font-size: 13px;color: rgba(153,153,153,1)}
.ranker ul li:before {counter-increment:section;content:counter(section);display:inline-block;padding:0 6px;margin-right:10px;height:18px;line-height:18px;background:#e6e6e6;color:#505050;border-radius:3px;font-size:9px;}

/*无数据展示*/
#nodata {height: 395px;text-align: center;color:#545556;line-height:52px}
#nodata .nodatatip {padding-top: 100px;font-size: 30px;line-height:20px}

.affix .is-fixed{
    position: fixed;
    z-index: 100;
    max-height: calc(100% - 100px);
}

.note{color:#999999;font-size: 12px;max-height: calc(100vh - 165px);
    overflow: hidden;}

.note a {    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 0 8px;
    border: 1px solid #e6e6e6;
    font-size: 12px;
    border-radius: 4px;
    transition: all .3s ease;color:rgba(0,0,0,0.65)}
.note a:hover{background-color:rgba(0,0,0,0.85);color: white;}

/*文章内容*/
.blog-content{margin-bottom: 0;padding-bottom: 0!important;background-color: white;width: 100%;}
.blog-content .blog-head{background-color: #f0f0f0;padding: 40px 0;margin-top: 5px;}
.blog-content .blog-head .blog-title{margin: 16px 0;font-size: 20px;text-align: center;}
.blog-content .blog-head .blog-title h3{font-weight: bold;color: #000000;}
.blog-content .blog-head .con-desc{display: flex;flex-direction: row;justify-content: center;align-items: center;flex-wrap: nowrap;margin: 12px 0 16px;color: #adadad;font-size: 12px;}
.blog-content .blog-head .con-desc a{padding-right: 20px;}
.blog-content .text-desc {font-size: 14px;color: #999999;border-left: 5px solid #E6E6E6;padding: 20px 0 20px 20px;margin: 20px;line-height: 30px;background-color: #f0f0f0;}
.blog-content .text-desc a, .blog-content .text-desc span{color: #999999;}
.blog-content .text-con{padding: 25px;}


/*回复列表*/
.space-message{}
/*.space-message p{ padding-bottom: 10px;}*/
.message-content {float:left;margin-bottom: 20px;width: 100%;}

.message-content .media-body{margin-bottom: 20px;padding: 0 20px 20px 20px;border-bottom: 1px dashed #e6e6e6;}
/*左侧头像*/
.message-content .media-left{float: left;margin-right: 15px}
.message-content .media-left img{border-radius: 50%;height: 50px;width: 50px;}
.message-content .media-body .pad-btm {width:100%;}
.message-content .media-body .pad-btm .fontColor{font-weight: bold;font-size: 14px!important;}
.message-content .media-body .pad-btm .message-text{padding:2px 0 14px 65px;}
.message-content-btn{text-align: center}
.message-content .layui-btn {height: auto;line-height: 0;padding: 0;font-size: 12px;border-width: 0}
/*.message-content hr{margin-bottom: 30px;}*/
.message-content .reply-text{padding: 0 64px;}
.message-content .reply-container{margin-bottom: 20px;padding: 0 15px 15px 15px;border:1px dashed #e6e6e6;overflow:hidden}
.message-content .reply-container .box-reply{padding: 0;float: left;width: 100%;}
.message-content .reply-container .title{line-height: 24px;padding: 11px 0;float: left;height: 24px;}
.message-content .reply-container .title img{height:24px;width:24px;border-radius:50%;float: left;margin-right: 10px;}
.message-content .reply-container .title p{font-weight: 800;color: #4b4b4b;line-height: 24px;float: left;}
.message-content .reply-container .brower{line-height: 24px;padding: 11px 0;float: right;height: 24px;font-size: 12px;color:#999999;}

.message-content .reply-container .replyContent{padding: 5px 0;float: left;width: 100%;color: rgba(0,0,0,0.85)}
.message-content .reply-container .other{padding: 5px 0;border-bottom: 1px dashed #e6e6e6;position: relative;
    display: block;
    box-sizing: border-box;width: 100%;float: left;}
.message-content .reply-container .like{font-size: 12px;color: #999999;line-height: 24px;padding: 5px 0;float: left;}
.message-content .reply-container .like{font-size: 12px;}
.message-content .reply-container .reply-date {font-size: 12px;color: #999999;line-height: 24px;padding: 5px 0;float: right;}
.message-content .reply-container .reply-date  a{color: #999999;text-decoration: none;}
.message-content .reply-comment{padding: 0 0 0 64px;color: #999999!important;line-height: 24px;height: 24px}
.message-content .reply-comment .like{float: left;line-height: 24px;margin-right: 20px;}
.message-content .reply-comment .like i{font-size: 18px;}
.message-content .reply-comment .reply-btn{float: left;line-height: 24px;}
.message-content .reply-comment button{color: #999999!important;margin-left: 0!important;font-size: 12px!important;}
.message-content .reply-comment button p{font-size: 13px!important;}
.message-content .reply-to-text{padding: 10px 93px 10px 16px;position: relative;border: 3px solid #f0f0f0;margin: 10px 64px 0 64px;height: 58px;}
.message-content .reply-to-text .text .reply-box-textarea{height: 100%;width: 100%;}
.message-content .reply-to-text textarea{outline: none;overflow:hidden;resize: none;line-height: 24px;color: #4b4b4b;font-size: 14px!important;border: 0;margin: 0;padding: 0}
.message-content .reply-to-text .replybtn {position: absolute;right: -3px;top: -3px;z-index: 1;width: 80px;height: 83px;background-color: #999999;font-size: 16px!important;line-height: 83px;text-align: center;color: #fff;cursor: pointer;}
.message-content .reply-to-text .replybtn .layui-btn{font-size: 20px;}

/*评论标题*/
.comment-content {width: 100%;margin: 25px 0;float: left;}
.comment-content h2{font-size: 16px;font-weight: bolder;margin: 0 20px!important;padding: 10px 0;color:#999999;letter-spacing:2px
    /*border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;*/
}
.share{text-align: center;width: 100%;float: left;}
.share ul{}
.share ul li{width: 33.333%;float: left;}
.share .qq {height: 50px;}
.share .qq i{color: #00B7EE;font-size: 50px;line-height: 50px;}
/*.about-cont .contact .qq a{line-height: 30px;}*/
.share .wechat {height: 50px;}
.share .wechat i{color: #2ba246;font-size: 50px;line-height: 50px;}
.share .weibo {height: 50px;}
.share .weibo i{color: #e6162d;font-size: 50px;line-height: 50px;}

/*发表评论*/
#reply{float: left;width: 100%;}
#reply .reply-con{padding:0 20px;}
#reply .reply-con .userinfo{width: 100%;height: 40px;margin-bottom: 15px;}
#reply .reply-con .userinfo input{background-color: #f2f2f2;border-width: 0;font-size: 12px;float: left}
/*#reply .reply-con .userinfo .username{width: 200px;display: block;float: left;margin-right: 20px;}*/
/*#reply .reply-con .userinfo .email{width: 200px;display: block;float: left;margin-right: 20px;}*/
#reply .reply-con .text{margin-bottom: 15px;}
#reply .reply-con .text textarea{border: 0;background-color: #f2f2f2;font-size: 12px;padding: 10px;border-radius: 2px;height: 36px;}
#reply .reply-con .text button{background-color: #f2f2f2;color:#555555;line-height: 32px;font-size: 12px;height: 32px;}




/*图片模块*/
/*图片覆盖特效*/
.box{text-align: center;overflow: hidden;position: relative;background:#fff;background-size: cover;padding-bottom:60%;border:4px solid #adadad;}
.box .box-content{position: absolute;bottom: 0;left: 0;height: 40px;width:100%;background: rgba(0,0,0,0.5);color:#ffffff;transition: height 0.5s;line-height: 40px;
    -moz-transition: height 0.5s;	/* Firefox 4 */
    -webkit-transition: height 0.5s;	/* Safari 和 Chrome */
    -o-transition: height 0.5s;}
.box .picinfo{position: absolute;top: 0;left: 0;width:100%;height:30px;display: none;font-size: 12px;background: rgba(0,0,0,0.5);transition: height 2s}
.box .picdesc{position: absolute;top: 5px;left: 5px;color:white;}
.box .piccomment{position: absolute;top: 5px;right: 5px;color:white;}
.box .box-content .title{font-size: 16px;font-weight: bold;line-height: 40px;margin: 0;}
.box .box-content .post{font-size: 12px;text-align: left!important;padding: 10px!important;line-height: 20px;display: none;}
.box:hover .box-content{height: 60%;}
.box:hover .picinfo{display:block;}
.box:hover .box-content .post{display:block;}


@media only screen and (max-width:990px){  .box{ margin-bottom: 30px; }  }

.fixed-bottom {position: fixed;bottom: 0;width:100%;}
.picbox{text-align: center;overflow: hidden;position: relative;background-size:cover ;padding-bottom: 60%;border-width: 0;}
.pic-function {height: 30px;width: 200px;font-size: 12px;position: absolute;top: 0;right: 0;display: none;}
.pic-function ul li {float: right;font-size: 12px;list-style: none;}
.pic-function ul li button {width: 100%;padding: 4px;border-width: 0;color: white!important;background-color: black;opacity: 1;}

/*友情链接*/
.linkweb {background-color: white;float: left;font-size: 12px;padding: 15px 15px 0 15px;}
.linkweb ul{margin-left:-2%;}
.linkweb ul li{float: left;width: 23%;margin-left:2%;background-color: #ffffff;margin-bottom: 15px;box-shadow: 2px 5px 14px #c5c5c5}
.linkweb ul li a{width: 90%;padding: 5%;float: left;}
.linkweb ul li a img{height: 40px;width: 40px;border-radius: 50%;float: left;margin:0 10px 10px 0;}
.linkweb ul li a h3{height: 40px;line-height: 40px;float: left;overflow: hidden;font-size: 14px;font-weight: bold;}
.linkweb ul li a p{height: 100px;width: 100%;overflow: hidden;padding-top: 10px;font-size: 13px;line-height: 20px;color: #999999;letter-spacing:0.5px;}
.linkweb ul li:hover{transform: translate3d(0,-2px,0);-webkit-transform: translate3d(0,-3px,0);}
.linkdesc{color: #999999;}
.linkdesc p{line-height: 40px;}

@media screen and (max-width: 768px)
{
    .linkweb ul li{width: 100%;margin-left: 0;}  .linkweb ul{margin-left:0;}
}

/*#自定义*/
.blog-elem-quote{ margin:20px 0 10px 0;padding: 15px;border-left: 5px solid #009688;border-radius: 0 2px 2px 0;background-color:#f0f3f9;}
.content-sapce-15{margin:0 -7.5px -15px -7.5px }
.content-sapce-15>*{padding:0 7.5px 15px 7.5px }
.Tophead{margin-top: 75px!important;}


/*#留言*/
.message-head{height: 200px;width: 100%; text-align: center; }
.message-head .tips h2{text-transform: uppercase;width: 100%;padding-top: 50px;color: #999999;font-size: 24px;}
.message-head .desc{line-height: 100px;color: #999999;font-size: 16px;}
.Message{float: left;width: 100%;border-bottom: 1px solid #f0f3f9; padding:0!important; position: relative;background-color: white;}
.Message .headimg{float: left;margin: 0;padding: 20px 0 30px 10px;}
.Message .headimg img{height: 50px;width: 50px; border-radius: 50%;float: left;}
.Message .user{text-align: left;overflow: hidden;float: left;line-height:100%;position: absolute;top: 20px;left: 70px;color: dodgerblue;padding:0 0 10px 0;}
.Message .text{text-align: left;line-height: 20px;position: static;padding: 45px 70px 35px 70px;height:100%;color:#545556;}
.Message .date{text-align: left;overflow: hidden;float: left;line-height:100%;position: absolute;left:70px;bottom: 10px;color: #adadad;padding:10px 0 0 0;}
.message-con{text-align: left}
.message-con .Message-input .input-icon input{background-color: #f2f2f2;border-width: 0;font-size: 12px;float: left}
.message-con .mybtn button{background-color: #f2f2f2;color:#555555;line-height: 32px;font-size: 12px;height: 32px;}
#MessageCon{border-width: 0;background-color: #f2f2f2;font-size: 12px;}
.navigation{text-align: center;padding: 10px;}

/*关于*/
.about{height: 200px; width: 100%; text-align: center;}
.about .img{line-height: 100px;padding-top: 50px;}
.about .con{line-height: 50px;color: #999999;}
.about .con h3{text-transform: uppercase;width: 100%;font-size: 16px!important;}
.about .img img{height: 100px;width: 100px;border-radius: 50%;}
.about-cont{padding: 30px!important;}
.about-cont ul{}
.about-cont .font{color: #999999;padding: 10px 0!important;}
.about-cont p{padding-left: 20px;float: left}
.about-cont .self i{color: #1E9FFF;font-size: 20px;}
.about-cont .hobby i{color: #ff0000;font-size: 20px;}
.about-cont .tool i{color: #009E94;font-size: 20px;}
.about-cont .noteabout i{color: #FF00FF;font-size: 20px;}
/*.about-cont .self i{color: #ff0000;font-size: 20px;}*/
/*.about-cont .self i{color: #ff0000;font-size: 20px;}*/
.about-cont .myposition i{color: #FF5722;font-size: 20px;}
.about-cont .company i{color: #a67f59;font-size: 20px;}
.about-cont .title{line-height: 1.5;margin-bottom: 16px;text-align: center;color: rgba(0,0,0,0.43);position: absolute;top: 0;right: 0;left: 0;padding: 8px 0;background: hsla(0,0%,100%,0.8);}
.detail-item {display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;flex-wrap: nowrap;margin: 24px 0;padding: 0 12px;}
.github-follow{position: relative;padding-bottom: 32px;}
.card{position: relative;background-color: hsla(0,0%,100%,0.8);box-shadow: 0 0 14px 2px #ebebeb;border-radius: 2px;}
.card-body {padding: 16px 0;}
.github-follow .status{display: flex;flex-direction: row;justify-content: space-between;align-items: center;flex-wrap: nowrap;}
.github-follow .status>div{flex: 1;margin: 8px 0;text-align: center;}
.github-follow .status>div .count{font: italic 700 22px monospace;}
.github-follow .status>div .label{margin: 12px 0;color: rgba(0,0,0,0.25);text-transform: uppercase;}
.github-follow .status .divider{display: inline-block;flex: 0 0 1px;width: 1px;height: 36px;background: #e6e6e6;}
.github-follow .follow-btn{position: absolute;right: 0;bottom: 0;left: 0;width: 100%;height: 48px;line-height: 48px;background: rgba(16,142,233,.6);color: #fff!important;border: none;font-weight: 700;text-align: center;}
.github-follow .follow-btn a{color:#fff;}
.position{position: relative;line-height: 0;height:414px; }
.position .title{line-height: 1.5;margin-bottom: 16px;text-align: center;color: rgba(0,0,0,0.43);position: absolute;top: 0;right: 0;left: 0;padding: 8px 0;background: hsla(0,0%,100%,0.8);}
.position #allmap{height:367px;width:100%;margin-top: 47px;position: absolute!important;}



.card-no-padding, .card-no-padding .card-body{padding: 0;}
.contact{}
.contact .title{margin-bottom: 16px;text-align: center;color: rgba(0,0,0,0.43);}
.contact ul{  display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;}
.contact ul li{flex: 0 0 20%;width: 20%;text-align: center;}
.contact a{color: #999999;font-size: 12px;line-height: 30px;}
.contact .qq {height: 30px;}
.contact .qq i{color: #00B7EE;font-size: 25px;line-height: 30px;}
/*.about-cont .contact .qq a{line-height: 30px;}*/
.contact .wechat {height: 30px;}
.contact .wechat i{color: #2ba246;font-size: 25px;line-height: 30px;}
.contact .weibo {height: 30px;}
.contact .weibo i{color: #e6162d;font-size: 25px;line-height: 30px;}
.contact .email {height: 30px;}
.contact .email i{color: #999999;font-size: 25px;line-height: 30px;}
.contact .github {height: 30px;}
.contact .github i{color: #000000;font-size: 25px;line-height: 30px;}
/*.contact .weibo i,.about-cont .contact .weibo a{color: #e6162d;font-size: 20px;line-height: 30px;}*/
/*.about-cont .contact .wechat img{height: 200px;width: 200px;}*/
/*.about-cont .contact .wechat span{line-height: 30px;height: 30px;}*/
.archive{color: #999999!important; }
.archive ul{padding: 20px;}
.archive ul li{padding: 10px 0;}
.archive ul li a{color: #999999!important;font-size: 12px; }