body{font: 14px 宋体 Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif; overflow-x: hidden;}

.nav{z-index:1;text-align: center;padding:0!important;top:0;width:100%;position: fixed!important;background-color: hsla(0,0%,100%,.9)!important;height: 60px;line-height: 60px;box-sizing:border-box;box-shadow: 0 1px 5px 0 rgba(0,0,0,.09); }
.nav .item{margin:0 auto;width:100%;height: 60px;}

.nav img {float: left;padding-left: 7.5px;}
.nav ul{float: right;}
.nav ul li{float: left;font-size: 16px;;}
.nav ul li a{color:#777777!important;}

@media screen and (min-width:768px){.nav .item{width:750px}}
@media screen and (min-width:992px){.nav .item{width:970px}}
@media screen and (min-width:1280px){.nav .item{width:1250px}}

.bannerfather {background: url(../../common/imgs/background.jpg) no-repeat;background-attachment: fixed;}
.bannerfather .banner{height: 710px; width: 100%;position: relative;background: rgba(0,0,0,0);}
.bannerfather .banner .title{color: #fff; z-index:1;width: 100%;padding-top:300px;text-align: center;}
.bannerfather .banner .title h3{font-size: 60px; line-height: 60px;}
.bannerfather .banner .amount{font-size: 18px; line-height: 24px;text-align: center;padding-top: 30px!important;}
.bannerfather .banner .amount a{border:1px solid white;border-radius: 30px ;padding: 10px 30px;text-decoration: none; color: white;rgba(0,0,0,0.5)}
.bannerfather .banner .amount a:hover{border:1px solid #adadad;color: #adadad;}

.myself{height: 600px; width: 100%; background-color: #f6f6f6; background-size:cover;}
.myself .title{color: #000; text-align: center;padding-top: 30px;}
.myself .title h2{font-size: 30px; line-height:30px;}
.myself .title h6{font-size: 16px; line-height: 30px;text-align: center}
.myself .myclock{text-align: center;width: 620px;padding: 0 0 0 0; margin:0 auto;position: relative;}



.aboutinfofather {background: url(../../common/imgs/background2.jpg) no-repeat;background-attachment: fixed;}
.aboutinfofather .aboutinfo{height: 380px; width: 100%; background: rgba(0,0,0,0.5); background-size:cover;line-height: 380px;text-align: center;}
.aboutinfofather .aboutinfo .github{text-align: center;border: 1px solid white;padding: 20px 50px;color: white;margin-right: 50px;font-weight: bold;border-radius: 30px;font-size: 20px;}
.aboutinfofather .aboutinfo .about{text-align: center;border: 1px solid white;padding: 20px 50px;color: white;font-weight: bold;border-radius: 30px;font-size: 20px;}
.aboutinfofather .aboutinfo .github:hover{border-color: #adadad;color:#adadad; }
.aboutinfofather .aboutinfo .about:hover{border-color: #adadad;color:#adadad;}

.link{height: 400px; width: 100%; background-color: #ffffff; background-size:cover;text-align: center;}
.link h6{font-weight: bolder;padding-top: 100px;font-size: 20px;}
.link .linkshow{text-align: center;width: 100%;height: 50px;margin: 20px 0;}
.link .linkshow ul{width: 800px;height: 50px;margin: 0 auto;}
.link .linkshow ul li{ float: left;padding: 10px}


.footer-wrap{border-top: 1px solid #402863;}
.footer{padding:35px 0 35px 0; position: relative; overflow: hidden;
    background-color: #333333;
    color: #888;
    /*position: absolute;*/
    /*width:100%;*/
    /*bottom:0;*/
    text-align: center;
    clear:both;}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 768px){
    .banner .amount{line-height: 40px; }
    .banner .title{top: 245px;}
    .banner .title h3{font-size: 40px; line-height: 44px;}
    .footer{padding-left: 0; padding-bottom: 30px}
    .footer .qrcode{float: none; margin-bottom: 40px; margin-left: 10px;}
    .footer .practice-mode{position: relative; margin-left: 10px;}
    .banner .title{top: 290px; left: 20px;}
    .banner .amount{left: 20px; top: 210px; line-height: 30px;}
    /*menu-btn*/
    .menu { width: 50px; height: 40px; position: relative; cursor: pointer;}
    .menu:before, .menu:after { content: ""; display: block; width: 50px; height: 6px; background: #999999; border-radius: 8px; position: absolute; left: 0; -webkit-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
    .menu:before { top: 0; box-shadow: 0 34px #999999;}
    .menu:after { bottom: 17px; }
    .menu.on:before { top: 17px; box-shadow: none; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
    .menu.on:after { bottom: 17px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
    .menu-btn{position: absolute; top: 10px; right: 20px;}
    .header .header-down-nav { width: 100%; position: absolute; top: 120px; z-index: 2; left: 0; padding: 0; border-radius: 0;}
    .header .header-down-nav {background: #999999;}
    .header .header-down-nav .layui-nav-item a{padding:0 40px;}
    .header .header-down-nav li {display: block;}
    .header .header-down-nav li a{font-size: 16px;}}
.footer .footer-hr {border-top-width: 1px;border-top-color: #444444;border-top-style: solid;padding: 10px 0 30px 0}
.footer .footer-hr p{padding: 0 0 8px 0}
.footer .footer-link ul {padding: 0 0 5px 0}
.footer .footer-link ul li{padding: 2px 0 2px 0}
.footer .footer-link ul li a{color: #888}
.footer .footer-desc p{text-align: left;line-height: 24px}