.waterfall{
    margin: 0 auto;
}
.waterfall ul li{
    font-size: 12px;
    float: left;
    width: 251px;
    padding: 20px;
    margin: 0 0 20px 0;
    background: #fff;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    /*border:solid 1px #BCBCBC;*/
    /*box-shadow: 0 0 10px #BCBCBC;*/
}
.waterfall ul li:hover{box-shadow: 2px 5px 14px #c5c5c5;transform: translate3d(0,-2px,0);-webkit-transform: translate3d(0,-3px,0);}
.waterfall ul li .userinfo{
    height: 60px;
    line-height: 60px;
    /*width: 100%;*/
}
.waterfall ul li .userinfo .headpic{
    float: left;
    width: 50px;
    height: 50px;
}
.waterfall ul li .userinfo .headpic img{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;

}

.waterfall ul li .userinfo .li-title{
    float: left;
    padding: 5px 10px;
    max-height: 48px;
    overflow: hidden;
    line-height: 24px;
    color: #3B5A9B;
    background: #fff;
    font-weight: bold;
    font-size: 12px;
}

.waterfall ul li .con{
    width: 100%;
    /*border-bottom: solid 1px #DBDBDB;*/
}
.waterfall ul li .con .description{
    padding: 5px 0;
    max-height: 66px;
    overflow: hidden;
    line-height: 22px;
    color: #999999;
    font-size: 12px;
    text-indent: 10px;
    background: #fff;
    /*border-bottom: solid 1px #DBDBDB;*/
}
.waterfall ul li .otherinfo{
    float: left;
    height: 30px;
    line-height: 36px;
    color: #999999;
}
.waterfall ul li .otherinfo i{

    height: 30px;
    line-height: 36px;
    color: #999999;
    font-size: 12px;
}
.waterfall ul li .qianm{
    background: #fff;
}
.waterfall ul li .qianm .sp1{
    float: left;
    height: 30px;
    line-height: 36px;
    color: #999999;
}
.waterfall ul li .qianm .sp1 b{
    color: #5DAA21;
    font-weight: bold;
    padding: 0 5px 0;
    font-size: 12px;
}
.waterfall ul li .qianm .sp2{
    float: right;
    height: 30px;
    padding: 0 5px;
    line-height: 36px;
    color: #999999;
}
.waterfall ul li .qianm .sp3{
    float: right;
    max-height: 48px;
    padding: 5px 10px;
    line-height: 24px;
    color: #999999;
}
.clearfloat:after{
    clear: both;
    display:block;
    content:"";
    overflow: hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
#imloading
{
    width:150px;height:30px;line-height:30px;font-size:16px;text-align:center;border-radius:3px;opacity:0.7;background:#000;margin:10px auto 30px;color:#fff;display:none
}