<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static '/layui/css/admin.css' %}">
</head>
<body>
<div class="layui-fluid" id="LAY-component-layer-list">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="layui-form" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">当前密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="oldPassword" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux" id="errortip"></div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="repassword"  name="repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux" id="repasstip"></div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block layadmin-layer-demo">
                                    <button id="result" class="layui-btn" data-method="offset" data-type="msg" lay-submit lay-filter="setmypass" type="submit">确认修改</button>
                                </div>
                                <div class="layui-form-mid layui-word-aux" id="submitip"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static '/layui/layui.js' %}"></script>
<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>

<script>
    $('#oldPassword').on("blur",function(){
        $.ajax({
            type:"POST",
            data: {'oldPassword':$('#oldPassword').val(),
                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                'type':0,
            },
            url: "{% url 'Chemical:password' users %}", //后台处理函数的url
            cache: false,
            {#headers:{csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()},#}
            {#contentType: "application/json",#}
            success: function(result) {
                {#var dataobj=JSON.parse(result);#}
                $('#errortip').html(result.message);
            },
        });
    });

    $('#oldPassword').on("focus",function(){
        $('#errortip').html('请输入旧密码');

    });

    $('#oldPassword').on("blur",function(){
        if ($('#repasstip')!=$('#password'))
        {
            $('repasstip').html('两次密码输入不一致！')
            return false
        }
    });
    $('#result').on("click",function(){

        $.ajax({
            type:"POST",
            data: {'oldPassword':$('#oldPassword').val(),
                'password':$('#password').val(),
                'repassword':$('#repassword').val(),
                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                'type':1,
            },
            url: "{% url 'Chemical:password' users %}", //后台处理函数的url
            cache: false,
            success: function(result){
                {#var dataobj=JSON.parse(result);#}
                $('#submitip').html(result.message);

            },

        });
        return false;

    });
</script>
</body>
</html>