<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/layui/css/public.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/../../static/common/imgs/blog.css' %}" media="all">
</head>
<body class="childrenBody" style="background-color: #FFFFFF">
<form class="layui-form">
    <div class="layui-fluid">
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <button class="layui-btn layui-btn-normal addNews_btn">新增相册</button>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space15">
                        {% if PicManages %}
                            {% for i in PicManages %}
                                <div class="layui-col-md2">
                                    <a href="{% url 'MyBlog:PicDetailManage' i.id %}">

                                        <div class="box" style="background-image: url(/static/media/{{  i.imgthumb }})">
                                            <div class="box-content">
                                                <h5 class="title">{{ i.title }}</h5>
                                                <span class="post">{{ i.picdesc }}</span>
                                            </div>
                                            <div class="picdesc"><span>by {{ i.author }}</span> <span>{{ i.picture_set.count  }} 张</span><p>{{ i.createdate|date:"Y-m-d"  }}</p>
                                            </div>

                                        </div>

                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static '/layui/layui.js' %}"></script>

</body>
</html>
